section.servie_area
  .row
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-car
        h3 Автотовароведческая
      a(href="../autotovar/") 
        .service-overlay
          span.fas.fa-car
          h3
            | Автотовароведческая
          p
            | подробнее  
       
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-car-crash
        h3 Экспертиза обстоятельств ДТП
      a(href="../obstojatelstva/") 
        .service-overlay
          span.fas.fa-car-crash 
          h3
            | Экспертиза обстоятельств ДТП
          p
            | подробнее  
        

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-wrench 
        h3 Качества проведенного ремонта
      a(href="../kachestvo/")
        .service-overlay
          span.fas.fa-wrench 
          h3
            | Качества проведенного ремонта
          p
            | подробнее  
     

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-ruler-combined 
        h3 Транспортно-трасологическая
      a(href="../trasologia/")
        .service-overlay
          span.fas.fa-ruler-combined 
          h3
            | Транспортно-трасологическая
          p
            | подробнее  