section.servie_area
  .row
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-signature
        h3 Почерковедческая
      a(href="../pocherk/") 
        .service-overlay
          span.fas.fa-signature
          h3
            | Почерковедческая
          p
            | подробнее  
       
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-file-signature
        h3 Техническая экспертиза документов
      a(href="../ted/") 
        .service-overlay
          span.fas.fa-file-signature
          h3
            | Техническая экспертиза документов 
          p
            | подробнее  
    
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-file-medical
        h3 Медицинская экспертиза документов
      a(href="../med/") 
        .service-overlay
          span.fas.fa-file-medical
          h3
            | Медицинская экспертиза документов
          p
            | подробнее  