.row
  .col-md-12.clearfix.mb-3
    .customer-logos
      .slide
        img.u-clients(src="img/svg/clients-logo/sberbank.svg" alt="Сбербанк")
      .slide
        img.u-clients(src="img/svg/clients-logo/rmk.svg" alt="РМК")
      .slide
        img.u-clients(src="img/svg/clients-logo/lukoil.svg" alt="Лукоил")
      .slide
        img.u-clients(src="img/svg/clients-logo/ingosstrah.svg" alt="Ингосстрах")
      .slide
        img.u-clients(src="img/svg/clients-logo/kalash.svg" alt="Концерн Калашников")
      .slide
        img.u-clients(src="img/svg/clients-logo/vtb.svg" alt="ВТБ")
      .slide
        img.u-clients(src="img/svg/clients-logo/soglasie.svg" alt="Согласие")
      .slide
        img.u-clients(src="img/svg/clients-logo/sm.svg" alt="СРО Сумма мнений")
      .slide
        img.u-clients(src="img/svg/clients-logo/ugoria.svg" alt="Югория")  