section.servie_area
  .row
    .col-md-6.col-sm-12.col-xs-12
      .section_title.service_section_title
        h3 Экспертиза
        p
          | Экспертизы, выполняемые по заявкам организаций, компаний или любого частного лица с использованием, в том числе, судебно-экспертные методики.
  
    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info_top
      .service_icon
        span.fas.fa-car-crash
        h3 Автотехнические экспертизы
      a(href="../autoteh/") 
        .service-overlay
          span.fas.fa-car-crash
          h3
            | Автотехнические экспертизы
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info_top
      .service_icon
        span.fas.fa-tools 
        h3 Инженерные экспертизы
      a(href="../engineer/") 
        .service-overlay
          span.fas.fa-tools 
          h3
            | Инженерные экспертизы
          p
            | Подробности

    .row

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-graduation-cap 
        h3 Криминалистические экспертизы
      a(href="../crime/") 
        .service-overlay
          span.fas.fa-graduation-cap 
          h3
            | Криминалистические экспертизы
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-tree 
        h3 Землеустроительные экспертизы
      a(href="../zemleustroy/") 
        .service-overlay
          span.fas.fa-tree 
          h3
            | Землеустроительные экспертизы
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-ruble-sign 
        h3 Экономические экспертизы
      a(href="../econom/") 
        .service-overlay
          span.fas.fa-ruble-sign 
          h3
            | Экономические экспертизы
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-building 
        h3 Строительные экспертизы
      a(href="#") 
        .service-overlay
          span.fas.fa-building 
          h3
            | Строительные экспертизы
          p
            | Подробности