footer.templateux-footer
    .container-fluid
        .row
            .col-md-6.text-md-left.text-center
                p
                | ©
                script.
                    document.write(new Date().getFullYear());
                |  Росоценка | Екатеринбург
                .col-md-6.text-md-right

