footer.templateux-footer
    .container-fluid
        .row
            .col-md-6.text-md-left
                p
                | ©
                script.
                    document.write(new Date().getFullYear());
                |  Росоценка | Екатеринбург
            .col-md-6
                p.text-right
                  img.logo-sm(src="../img/svg/logo_n_black2.svg", alt='Logo')
                  
