section.footer
  .container-fluid
   .row
    .col-md-3
      h4 
       a.mail(href='mailto:info@rocenka.ru') info@rocenka.ru
    .col-md-3
      h4
        a(href='https://www.google.com/maps/place/%D0%A0%D0%BE%D1%81%D0%BE%D1%86%D0%B5%D0%BD%D0%BA%D0%B0/@56.815883,60.6141318,18z/data=!3m1!4b1!4m5!3m4!1s0x43c16e8cc7642f13:0xf6870279f12c13ab!8m2!3d56.815883!4d60.6152261', target='_blank')
            | Чапаева, 21
            br
            | 620142, Екатеринбург
            br
            | Россия
      span 
        a.contact(href='../contact/') другие города
    .col-md-3
      h4 
        | 8 800-200-3770 
        br
        | (343) 222-3770
    
  .container-fluid
   .row
    .col-md-3
      
    .col-md-3
      h4
        a(href='https://www.google.com/maps/place/%D0%A0%D0%BE%D1%81%D0%BE%D1%86%D0%B5%D0%BD%D0%BA%D0%B0/@56.815883,60.6141318,18z/data=!3m1!4b1!4m5!3m4!1s0x43c16e8cc7642f13:0xf6870279f12c13ab!8m2!3d56.815883!4d60.6152261', target='_blank')
            | ул. Пермякова, 56
            br
            | Тюмень
            br
            | Россия
    
    .col-md-3
      h4 
        | 8 800-200-3770 
        br
  
    .col-md-3
                p.text-right
                  img.logo-sm(src="../img/svg/logo_n_white.svg", alt='Росоценка логотип')

section.sub-footer
  .container-fluid
    .row
      .col-md-6.text-md-left
        h2 Партнерство навсегда
        p
          | Росоценка всегда готова к новым открытиям и сотрудничеству
          br
          | отправте нам предложение — 
          a(href='mailto:info@rocenka.ru') info@rocenka.ru
        
      .col-md-6.text-md-right
        p
          | ©
          script.
              document.write(new Date().getFullYear());
          |  Росоценка | Екатеринбург | Тюмень