ul#tree1
  li
    a(href='#')
      | Оценка недвижимости
    ul
      li 
        a(href='#')
          |Оценка жилой недвижимости
          
      li Оценка коммерческой недвижимости
      li Оценка арендных ставок
      li Оценка земельных участков
      li Оценка производственных комплексов
  li
    a(href='#')
      | Оценка бизнеса
    ul
      li ...
      li ...
  li
    a(href='#')
      | Оценка автотранспортных средств
    ul
      li ...
      li ...
        
  li
    a(href='#')
      | Оценка ущерба

  li
    a(href='#')
      | Оспаривание кадастровой стоимости
  
  li
    a(href='#')
      | Оценка имущества