section.servie_area
  .row
    .col-md-6.col-sm-12.col-xs-12
      .section_title.service_section_title
        h3 Оценка
        p  Наши специалисты профессионально проведут оценку бизнеса, предприятия, недвижимости, земли, акций и независимую оценку других материальных активов и имущества по принятым стандартам.
  
    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info_top
      .service_icon
        span.fas.fa-home
        h3 Оценка недвижимости
      a(href="../ocenkan/" title="Оценка недвижимости") 
        .service-overlay
          span.fas.fa-home
          h3
            | Оценка недвижимости
          p
            | Подробности
    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info_top
      .service_icon
        span.fas.fa-briefcase 
        h3 Оценка бизнеса
      a(href="../ocenkab/" title="Оценка бизнеса")
        .service-overlay
          span.fas.fa-briefcase 
          h3
            | Оценка бизнеса
          p
            | Подробности

  .row

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-car
        h3 Оценка автотранспортных средств
      a(href="../ocenkat/" title="Оценка автотранспортных средств") 
        .service-overlay
          span.fas.fa-car
          h3
            | Оценка автотранспортных средств
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-house-damage 
        h3 Оценка ущерба
      a(href="../ocenkau/" title="Оценка ущерба") 
        .service-overlay
          span.fas.fa-house-damage 
          h3
            | Оценка ущерба
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fas.fa-drafting-compass
        h3 Оспаривание кадастровой стоимости
      a(href="../osparivanieks/" title="Оспаривание кадастровой стоимости недвижимости")
        .service-overlay
          span.fas.fa-drafting-compass
          h3
            | Оспаривание кадастровой стоимости
          p
            | Подробности

    .col-md-3.col-sm-6.col-xs-6.col-xxs-12.service_icon_info
      .service_icon
        span.fa.fa-gem 
        h3 Оценка имущества
      a(href="../ocenkai/" title="Оценка имущества")
        .service-overlay
          span.fa.fa-gem 
          h3
            | Оценка имущества
          p
            | Подробности