section.servie_area
  .row
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-home
        h3 Оценка жилой недвижимости
      a(href="../ocenkajn/") 
        .service-overlay
          span.fas.fa-home
          h3
            | Оценка жилой недвижимости
          p
            | подробнее  
       
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-city 
        h3 Оценка коммерческой недвижимости
      a(href="../ocenkakn/") 
        .service-overlay
          span.fas.fa-city
          h3
            | Оценка коммерческой недвижимости
          p
            | подробнее  
        

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-landmark
        h3 Оценка арендных ставок
      a(href="../ocenkaas/")
        .service-overlay
          span.fas.fa-landmark
          h3
            | Оценка арендных ставок
          p
            | подробнее  
     

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-drafting-compass
        h3 Оценка земельных участков
      a(href="../ocenkazu/")
        .service-overlay
          span.fas.fa-drafting-compass
          h3
            | Оценка земельных участков
          p
            | подробнее  
  
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-industry
        h3 Оценка производственных комплексов
      a(href="../ocenkapk/") 
        .service-overlay
          span.fas.fa-industry
          h3
            | Оценка производственных комплексов
          p
            | подробнее       