section.servie_area
  .row
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-cheese
        h3 Оценка акций и долей 
      a(href="../ocenkaa/") 
        .service-overlay
          span.fas.fa-cheese
          h3
            | Оценка акций и долей 
          p
            | подробнее  
       
    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-warehouse
        h3 Переоценка основных средств
      a(href="../ocenkapos/") 
        .service-overlay
          span.fas.fa-warehouse
          h3
            | Переоценка основных средств
          p
            | подробнее  
        

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-ruble-sign 
        h3 Оценка дебиторской задолженности
      a(href="../ocenkadz/")
        .service-overlay
          span.fas.fa-ruble-sign 
          h3
            | Оценка дебиторской задолженности 
          p
            | подробнее  
     

    .col-md-3.service_icon_info
      .service_icon
        span.fas.fa-city 
        h3 Оценка предприятия
      a(href="../ocenkap/")
        .service-overlay
          span.fas.fa-city 
          h3
            | Оценка предприятия
          p
            | подробнее  
  