extends ../layout/main

block variables
    - var title = '3Д моделирование автопроисшествий. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "3Д моделирование автопроисшествий в Екатеринбурге. Экспертная организация «Росоценка» на профессиональном уровне создаст компьютерную трехмерную модел события, дорожно-транспортного происшествия. Прочностные экспертизы с 3д визуализацией."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 3Д моделирование автопроисшествий 
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >10 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Современные технологии позволяют исследовать дорожно-транспортные происшествия и их обстоятельства без большого множества бумажных протоколов. Трехмерное графическое масштабное моделирование позволяет достаточно точно воссоздавать события на дороге, таким образом сохраняя главные принципы судебной экспертизы – всесторонность и тщательность исследования с рассмотрением всех вариантов развития событий.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="3Д моделирование автопроисшествий. Независимая экспертная компания Росоценка.")
              
              h2 3Д моделирование автопроисшествий 
              p
                | Главной причиной перехода к моделированию транспортных происшествий, в частности, исследований в трасологии, стала слишком высокая нагрузка в части работы с бумажными носителями. Экспертам приходилось перегружать описательными образами свои заключения, таким образом перенасыщенные деталями и факторами машинописные экспертизы к концу прочтения полностью «размывались» для читателя.
              p
                | Более того, необходимость сопоставлять исследовательскую часть работы и выводы также отнимали множество сил и времени, и требовали огромной концентрации внимания. Если по итогам изучения что-то казалось сомнительным, или неполным, то суд вполне мог назначить повторную или дополнительную экспертизу.
              p
                | Таким образом, на смену большой кипе бумаг пришли аудиовизуальные документы, которые прилагаются к письменным материалам эксперта. По своей сути, моделирование производится в ходе ситуалогического исследования, построенного вокруг событий дорожно-транспортного происшествия, воспроизведённого в движении. Моделирование включает в себя как механику столкновения, так и положение автомобилей в ходе аварии.
              p Такой тип исследования включает в себя:
              ul
                li Диагностическое заключение – характер и способ образования следов.
                li Классификационное заключение – вид столкновения на основе характера следов.
                li Идентификационное заключение – следообразующие и следовоспринимающие объекты.
              p
                | Можно выделить несколько преимуществ данного вида экспертизы. Во-первых, это динамичное воспроизведение происшествия, которое более полно расскажет о событии, чем фотографии с места событий. В динамике более полно и масштабно понятны повреждения, их рельеф и механика. Во-вторых, подробное моделирование деталей местности и окружающих условий позволяет избавиться от абстракции, которая, как правило, приводит к потере из внимания множества мелких, но значимых для дела факторов.
              p
                | Помимо этого, все участники как экспертизы, так и судебного процесса, на основе моделирования намного отчетливее прослеживают логику и последовательность обстоятельств. Трасологический анализ – важнейшая часть исследования, и его восприятие и понимание ложится в основу всей экспертизы и выводов о моменте и характере столкновения.
              p
                | Применение при моделировании подробного и реального макета местности, где произошло столкновение, даёт возможность исключить или же допустить некоторые дополнительные версии, а также определить вероятность существования факта. К примеру, можно определить, что автомобиль не мог пересечь определенную точку, так как там стоит дерево или иное препятствие.
              p
                | Другое важное преимущество моделирования событий ДТП – то, что эксперту не приходится разъяснять своё видение вопроса несведущим лицам и участникам процесса – для них всё предельно наглядно и понятно. Грамотно и корректно подготовленное видеоприложение, помимо прочего, развеет возможные сомнения суда относительно правильности выводов экспертизы, что позволит избежать назначения повторного исследования.
              p
                | Таким образом, эксперт с помощью моделирования закрепляет собственные выводы и видение ситуации, делая их более простыми для понимания и более эффективными с точки зрения доказательства по делу.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “При моделировании применяется подробный и реальный макет местности, где произошло столкновение.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт