extends ../layout/main

block variables
    - var title = 'Независимая оценочная компания «Росоценка». 404.'
    - var name = "404"
    - var desc = "404"

block content
  section.templateux-hero(data-scrollax-parent="true")
    .container
      .row.align-items-center.justify-content-center.intro
        .col-md-12(data-aos="fade-up")
          .text-center
            h1 404
            p.lead Страница не найдена