extends ../layout/main

block variables
    - var title = 'Автотовароведческая экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Автотовароведческая экспертиза в Екатеринбурге. Экспертная организация «Росоценка» исследует транспорт, профессионально проведет экспертизу с выдачей объективного заключения"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Автотовароведческая  экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >1 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Один из самых распространённых и наиболее часто заказываемых видов автомобильной экспертизы – автотовароведческая. 
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Автотовароведческая экспертиза. Независимая экспертная компания Росоценка.")
              
              h2 Автотовароведческая экспертиза: сколько стоит мой автомобиль?
              p
                | В ходе исследования специалист определяет точную фактическую стоимость транспортного средства, высчитывая её по совокупности множества факторов. Таким образом устанавливается цена не только легковых авто, но также коммерческого транспорта, мотоциклов, автобусов и иных средств передвижения.
              p Данный вид экспертизы заказывают для решения нескольких задач:
              ul
                li
                  | Расчёт стоимости транспорта – чаще всего собственник авто или мотоцикла при определённых операциях (предоставления ТС в качестве залога по кредиту и т.д.) нуждается в точной оценке своего транспорта. Также к оценке прибегают, например, приставы, если техника подлежит аресту с последующей продажей с молотка.
                li
                  | Для сопоставления данных о транспорте из документации с реальными характеристиками.
                li Выявление дефектов и их характера.
                li Расчёт стоимости ремонта и запчастей, необходимых для восстановления.
              p
                | При рассмотрении дела суд может назначить экспертизу автомобиля для разрешения ряда вопросов. Получив задание, специалист собирает данные о транспортном средстве, координирует работу с современными методиками оценки, опираясь на базы данных и собственные навыки и знания.
              p
                | Отметим, что проведение исследования доступно не только в рамках судебного разбирательства, но и для получения объективной информации о машине или её деталях и элементах. По итогам работы эксперт составляет обоснованное независимое заключение, которое является официальным документом и имеет силу в судебном процессе.
              h3 Объектами исследования могут являться:
              ul
                li
                  | Транспортное средство (автомобиль, мотоцикл, автобус и иные средства передвижения).
                li Узлы и агрегаты по отдельности.
              p
                | Для объективной оценки эксперту потребуется предоставить: техпаспорт, документы о производстве ремонта и счета. Если документов нет, подойдёт договор купли-продажи.
              p
                | Помимо всех документов, специалисту также нужен сам автомобиль или оцениваемые узлы, полностью очищенные от грязи и пыли.
              p
                | В случае, если эксперту недостаточно материалов, чтобы ответить на вопросы суда, он может заявить ходатайство о предоставлении дополнительных. Когда всего достаточно, и все документы оформлены корректно, специалист начинает проводить экспертизу.
              p
                | Используя свои собственные познания в предмете, а также современные исследовательские методики, эксперт составляет отчёт об оценке, который оформляется в полном соответствии с Федеральными стандартами оценки. Подписанное специалистом заключение является документом доказательного характера, устанавливающим рыночную стоимость транспортного средства.
              p
                | Заключение выдается в двух экземплярах – один на руки заказчику, и один в архив экспертной организации. В случае, если проведение оценки по какой-либо причине невозможно, эксперт обязан сообщить об этом, назвав причины отказа.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Специалистами Росоценки используются все современные исследовательские методики.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт