extends ../layout/main

block variables
    - var title = 'Автотехнические экспертизы. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Автотехнические экспертизы - экспертная компания «Росоценка» в Екатеринбурге проведет исследование пореждений автомобиля в результате ДТП. Исследуем следы, повреждения, дорожные условия."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Автотехнические экспертизы
            a.go-down.js-smoothscroll(href="#next")
    section.templateux-section#next
      .container(data-aos="fade-up")
        include ../modules/autoteh_sq
        row
    section.templateux-section#second  
      .container(data-aos="fade-up")
        
          .row.justify-content-end
            .col-md-9
              p.doublesize
                | Самый распространённый вид экспертизы – автотехнический. Россия полна автомобилистов, они то и дело попадают в аварии, и не всегда удаётся легко и просто установить виновника и определить ущерб. В сложных ситуациях, когда не всё прозрачно и понятно, может потребоваться помощь эксперта.
          .row.justify-content-center     
            .col-md-3.sidebar-box
              p 
               ul.sidelink
                li 
                 a(href='../autotovar/') Автотовароведческая
                li
                 a(href='../obstojatelstva/') Экспертиза обстоятельств ДТП
                li 
                 a(href='../kachestvo/') Экспертиза качества проведенного ремонта
                li
                 a(href='../trasologia/') Транспортно-трасологическая
            
              // include ../modules/expertise_tree

            .col-md-9
              img.img-fluid(src="../img/svg/man_lamp.svg" alt="Оценка недвижимости. Независимая оценочная компания Росоценка.")
              h2 Виды автотехнической экспертизы: когда и для чего они применяются
             
              p
                | После ДТП первым делом определяется виновник, но не всегда ответственный за произошедшее человек признаёт свою вину. Или же вина и вовсе может быть определена некорректно, так как для точного экспертного определения всех подробностей случившегося необходимы специальные знания, которым обладает эксперт.
              p
                | Следствие и суд также отчасти могут нуждаться в экспертной помощи, так как не все дорожно-транспортные происшествия прозрачны и понятны. Подробности, установленные специалистом, могут позволить или снизить тяжесть вины, или же напротив отягчить её. Кроме того, могут быть установлены иные лица, причастные к произошедшему – например, дорожные службы, плохо почистившие покрытие или не установившие необходимые дорожные знаки при ремонте.
              p
                | Специалист изучает подробности ДТП, отдельно производится оценка ущерба автомобилям в результате аварии – для этого специалисты осмотря машины, и сопоставляют имеющиеся повреждения со сложностью и объёмом предстоящих работ. Эксперты могут выявить не только последующие за ДТП повреждения, но и предшествовавшие – те нарушения работы автомобиля, которые привели к аварии.
              h3 Такое исследование проводится поэтапно:
              ol
                li Полный визуальный осмотр автомобиля.
                li Занесение информации о дефектах, фотографирование.
                li Диагностика соответствующим оборудованием.
              p
                | Автовладелец может заказать экспертизу ещё и в том случае, если он не уверен в качестве проведённого ремонта или дооснащения автомобиля. Некоторые вариации переоборудования машины как раз-таки могут повлечь за собой дорожно-транспортное происшествие, поэтому к результатам доработок нужно относиться исключительно серьёзно.
              p
                | Таким образом автотехническая экспертиза способна решать внушительный перечень задач. Исходя из этого многообразия процедура поделена на подвиды, каждый из которых решает свои цели.
              ol
                li Экспертиза ДТП и обстоятельств аварии.
                li Тех. состояния автомобиля.
                li Трасологическая экспертиза, исследующая оставшиеся на месте аварии следы от шин.
                li Экспертиза дорожных условий.
                li Автотовароведческая, оценивающая автотранспортное средство.
              p
                | Порой несколько видов экспертиз требуются для урегулирования одной спорной ситуации, например в случае с аварией, где может потребоваться и эксперт-трасолог, и экспертиза дорожных условий, и остальные виды тоже.
              p
                | Для того, чтобы не возникало недопонимания или ошибок при исследовании в рамках определенного инцидента, экспертизы принято называть наименованием подвида.
              p
                | Экспертиза обстоятельств ДТП высчитывает скорость автомобилей перед аварией и при столкновении, а также производит вычисление разрешенной скорости на том участке полотна, где случилось происшествие, время преодоление отрезка дороги и иные параметры.
              p
                | В ходе данной экспертизы также определяется, какие именно пункты ПДД нарушили водители, допустившие аварию. Наименование для подвида экспертизы также может быть «экспертиза механизма или условий ДТП». Это исследование – самое востребование из всех автотехнических экспертиз. При грамотной постановке вопросов эксперту, зачастую отчёты позволяют разрешить судебное дело об аварии.
              p
                | Экспертиза технического состояния автомобиля – определяет машины, факторы, из-за которых они появились, варианты для ремонта, и происхождение неисправностей, будь то с завода или в процессе эксплуатации или после ремонта.
              p
                | Порой скрытый дефект, существующий до аварии, мог стать её причиной. В рамках исследования специалист осматривает автомобиль, определяет неисправность и причины её появления.
              p
                | Транспортно-трасологическая экспертиза – вопреки названию, данная экспертиза исследует не только следы на асфальте. В первую очередь специалисты-трасологи действительно изучают следы колес на месте аварии, чтобы определить местоположение автомобилей до столкновения. Учитывается то, в какую сторону двигалось авто, и высчитывается, каким с точки зрения механики образом произошло столкновение. Кроме того, определяется, какими частями кузова могли быть оставлены те или иные следы на автомобилях, и все ли повреждения связаны с последней аварией.
              p Чаще всего применяется вместе с другими исследованиями.
              p
                | Экспертиза дорожных условий – наиболее редкий вид исследования. В его рамках специалисты изучают дорожное покрытие, установленные знаки, нанесённую разметку и иные внешние факторы, которые могли так или иначе повлиять на поведение автомобиля и действия водителя.
              p
                | Причиной ДТП может стать не почищенная дорога или не установленные знаки, а также глубокие рытвины и выбоины в асфальте.
              p
                | Автотовароведческая экспертиза и оценка транспортного средства – самый частый вид исследования в принципе. Главная задача – определить ущерб после аварии для возмещения или продажи транспорта.
              p
                | Первостепенно определяет рыночную стоимость и восстановительную цену транспорта, а также пригодные остатков и утрату товарной стоимости автомобиля.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
              
