extends ../layout/main

block variables
    - var title = 'Компьютерно-техническая экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Компьютерно-техническая экспертиза в Екатеринбурге. Экспертная организация «Росоценка» исследование в области компьютерной информации, безопасности и вирусологии."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Компьютерно-техническая экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >3 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Судебные процессы нередко сталкиваются с ситуациями, в которых задействована современная вычислительная техника или компьютерные средства. Речь идёт не только непосредственно о персональных компьютерах или ноутбуках, но и о разного рода носителях информации, от дискет до USB-накопителей.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Компьютерно-техническая экспертиза. Независимая экспертная компания Росоценка.")
              
              h2 Компьютерно-техническая экспертиза
              
              p
                | В ходе экспертизы исследуют всё, что связано с информацией на цифровых носителях, и сами носители. Роль компьютерного исследования колоссальна – цифровая и компьютерная техника вобрала в себя все ключевые функции, почти всю свою работу человек совершает с помощью компьютера. Преступления тоже переходят в цифровой формат – взломы и вредоносная деятельность хакеров приводят к колоссальным финансовым потерям как компаний, так и обычных граждан.
              p
                | Вместе с тем, работа экспертов с компьютерами и иными информационными средствами, а также программным обеспечением является одной из наиболее сложных среди всех видов экспертиз. Это связано со стремительным прогрессом в технике, и для того, чтобы иметь полную компетенцию в современных устройствах необходимо постоянно обучаться и изучать последние тенденции.
              h3 Объекты компьютерно-технической экспертизы
              p
                | Основные объекты, подверженные исследованию, понятны уже из названия – это как сами компьютеры в любом виде, будь то моноблоки, персональные компьютеры, ноутбуки и нетбуки, планшетные компьютеры – так и периферийные усaтройства.
              p
                | Экспертиза может коснуться любой оргтехники, работающей с компьютерами. Отдельно эксперты изучают программное обеспечение, используемое на компьютере, данные, хранящиеся в базах, изготовленные на компьютере документы, а также информацию в приложениях.
              p
                | Таким образом, спектр исследований самый широкий, от компьютеров и ПО до документов или иных предметов, изготовленных с помощью компьютерной техники.
              h3 Когда требуется компьютерная экспертиза
              p
                | Во всех ситуациях, когда судебный процесс рассматривает дело, в котором применялась компьютерная техника. Большинство ненасильственных или информационных, а также экономических преступлений, так или иначе связаны с использованием компьютерной техники.
              p
                | Мошенники используют месенджеры или изготавливают документы на компьютере, вымогатели используют электронную почту – примеров использования компьютеров преступниками масса.  Для того, чтобы определить роль компьютерной техники в совершенном преступлении, необходимы специальные знания в данной сфере.
              h3 Благодаря компьютерно-технической экспертизе решаются следующие задачи:
              ul
                li Определяются свойства примененных компьютерных систем.
                li Выявляются особенности ПО.
                li
                  | Устанавливаются факты использования той или иной компьютерной техники при совершении преступления.
                li Изучение информации, созданной на компьютере или считываемой компьютером.
              p
                | По итогам исследования эксперт отвечает на вопросы о роли и применении компьютерной техники при совершении преступления, а также определяет, какие именно действия производились с исследуемой компьютерной техникой, и проводились ли операции с файлами на носителях, когда и как использовался компьютер.


    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Экспертиза может коснуться любой оргтехники, работающей с компьютерами.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт