extends ../layout/main

block variables
    - var title = 'Независимая оценочная компания Росоценка. Контактная информацция.'
    - var name = "contact"
    - var desc = "Росоценка. Расположение наших офисов в которых вы можете заказать независимую экспертизу и оценку."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Контактная информация
            
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Центральный офис в Екатеринбурге
              a(href='https://www.google.com/maps/place/%D0%A0%D0%BE%D1%81%D0%BE%D1%86%D0%B5%D0%BD%D0%BA%D0%B0/@56.815883,60.6141318,18z/data=!3m1!4b1!4m5!3m4!1s0x43c16e8cc7642f13:0xf6870279f12c13ab!8m2!3d56.815883!4d60.6152261', target='_blank')
                | ул. Чапаева, дом 21
              p
                | Екатеринбург, 620142
              p
                | Россия
              p  
                | Вьезд со стороны улицы Фурманова
              p 
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | +7 343 222-3770

    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Офис приема заявлений по ОСАГО в Екатеринбурге
              a(href='https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B0%D0%B9%D0%BA%D0%BE%D0%BF%D1%81%D0%BA%D0%B0%D1%8F,+10,+%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+620141/@56.8638031,60.579231,17z/data=!3m1!4b1!4m8!1m2!2m1!1z0YPQuy4g0JzQsNC50LrQvtC_0YHQutCw0Y8sINC00L7QvCAxMCDRgNC-0YHQvtGG0LXQvdC60LA!3m4!1s0x43c16e124e42e031:0x2610393b50d2b262!8m2!3d56.8638031!4d60.5814197', target='_blank')
                | ул. Майкопская, дом 10, оф. 210
              p
                | Екатеринбург, 620014
              p
                | Россия
              p  
                | Второй подъезд
              p 
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=вопрос по осаго") info@rocenka.ru
            .col-sm
              p.doublesize 
                | +7 343 222-3770
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Тюменский офис
              p
                | ул. Пермякова, 56
              p
                | Тюмень
              p
                | Россия
              p 
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 800 200-3770<br>
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Нижнетагильский офис
              p
                | ул. Кулибина, дом 64, лит. "Е"
              p
                | Нижний Тагил
              p
                | Россия
              p 
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:pogorjelsky@rocenka.ru?subject=общий вопрос") pogorjelsky@rocenka.ru
            .col-sm
              p.doublesize 
                | +7 343 222-3770<br>
                | +7 922 220-64-99
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Каменск Уральский офис
              p
                | ул. Рябова, 3
              p
                | Каменск Уральский
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:gusev@rocenka.ru?subject=общий вопрос") gusev@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 800 200 3770
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Первоуральский офис
              p
                | ул.Ватутина, д. 45
              p
                | Первоуральск
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:cherepanov@rocenka.ru?subject=общий вопрос") cherepanov@rocenka.ru
            .col-sm
              p.doublesize 
                | +7 3439 64-99-50
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Ревдинский офис
              p
                | Олега Кошевого, 25, оф. 18
              p
                | Ревда
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:karachev@rocenka.ru?subject=общий вопрос") karachev@rocenka.ru
            .col-sm
              p.doublesize 
                | +7 (908) 905 85 99
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Офис в городе Богданович
              p
                | ул. Мира, 11 корпус "А"
              p
                | Богданович
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 (800) 200 3770
    
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Офис в городе Севастополь
              p
                | ул. Руднева, 1 корпус "Г"
              p
                | Севастополь
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 (800) 200 3770

    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Офис в городе Невьянск
              p
                | ул. Строителей, 16
              p
                | Невьянск
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 (800) 200 3770
    
    section#next.mb-5
       .container.contacts(data-aos="fade-up")
          .row.row-bordered
            .col-sm
              h4 Офис в городе Талица
              p
                | пер. Рабочих, д. 1
              p
                | Талица
              p
                | Россия
              p
                | Время работы: с понедельника по пятницу, 09:00–18:00, без перерывов
            .col-sm
              a.doublesize(href="mailto:info@rocenka.ru?subject=общий вопрос") info@rocenka.ru
            .col-sm
              p.doublesize 
                | 8 (800) 200 3770

    script(type='application/ld+json').
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Екатеринбург",
          "addressRegion": "Свердловская область",
          "streetAddress": "Чапаева, 21"
          },
        "url": "https://rocenka.ru",
        "name": "Независимая организация Росоценка",
        "description": "Услуги независимой экспертизы и оценки в Екатеринбурге.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+7 (343) 222-3770",
          "contactType": "customer support"
        }
      }