extends ../layout/main

block variables
    - var title = 'Криминалистические экспертизы. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Криминалистические экспертизы - экспертная компания «Росоценка» в Екатеринбурге проведет экспертизу по определнию суда, следователя или в частном порядке."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Криминалистические экспертизы
            a.go-down.js-smoothscroll(href="#next")
    section.templateux-section#next
      .container(data-aos="fade-up")
        include ../modules/crime_sq
        row
    section.templateux-section#second  
      .container(data-aos="fade-up")
        
          .row.justify-content-end
            .col-md-9
              p.doublesize
                | Криминалистические экспертизы.
          .row.justify-content-center     
            .col-md-3.sidebar-box
              p 
               ul.sidelink
                li 
                 a(href='../pocherk/') Почерковедческая
                li
                 a(href='../ted/') Техническая экспертиза документов 
                li
                 a(href='../med/') Медицинская экспертиза документов 
            
              // include ../modules/expertise_tree

            .col-md-9
              img.img-fluid(src="../img/svg/man_lamp.svg" alt="Криминалистические экспертизы. Независимая экспертная компания Росоценка.")
              h2 Виды криминалистических экспертиз: когда и для чего они применяются
              p
                | При расследовании преступления во главе всего стоит доказательная база. Презумпция невиновности действует таким образом, что причастность к преступлению конкретного лица необходимо сперва доказать, и для формирования этой самой базы проводятся криминалистические экспертизы.
              p
                | Это самый проработанный с методической точки зрения, поскольку все подвиды криминалистических экспертиз – старейший вид судебных исследований в принципе. Широта применяемых методов и инструментов обеспечивает высокую точность результатов исследования, однако стоит помнить, что решающую роль играет человеческий фактор, и многое зависит от профессионализма и непредвзятости эксперта.
              p
                | Работа эксперта-криминалиста заключается в том, чтобы составить базу фактов о произошедшем, и предоставить её инициатору экспертизы. Из набора выводов эксперта будет следовать, виновен или же не виновен подозреваемый. Возможно, это не будет следовать явно, но, в любом случае, поможет судье в принятии решения.
              p
                | Естественно, что эксперт работает с фактурой: ему передаются все имеющиеся материалы, вещдоки с места преступления – но только те, которые соответствуют его профилю криминалистической экспертизы. Также специалист получает доступ к документам, которые имеются у следствия или сторон-инициаторов экспертизы, и имеют прямое отношение к совершенному преступлению.
              p
                | Иногда для изучения обстоятельств происшествия достаточно познаний эксперта одной сферы, однако для исследования более сложных преступлений, сочетающих в себе разные области знания, может потребоваться услуга комиссии специалистов разного профиля. Как и иные виды экспертиз, криминалистические исследования могут быть назначены повторно, если по какой-то причине у суда или сторон процесса могут возникнуть сомнения в их подлинности. Также повторная экспертиза возможна, если в процессе расследования были выявлены новые факты или материалы, исключающие часть результатов исследования, или выводы эксперта полностью.
              h3 Виды криминалистических экспертиз
              p
                | Криминалистические исследования существуют уже долгие годы, и уже получили наименование «традиционные». Они по-прежнему так именуются несмотря даже на то, что те классические методы, используемые до широкого распространения цифровых технологий, во многом отошли в прошлое. К традиционным экспертизам относят:
              ul
                li
                  | Дактилоскопию. Этот вид исследования существует уже сотни лет – исследует отпечатки ладоней и пальцев людей. Самый распространённый вид криминалистической экспертизы, его главная цель – установить, кто оставил следы, и идентифицировать его личность.
                li
                  | <a href="../pocherk/">Почерковедческую.</a> Мошенничества и махинации так или иначе связаны с подписями, документами, рукописными текстами. Иногда для выяснения обстоятельств такого рода преступления необходимо установить, кто именно писал текст или оставлял подпись, а также в каком состоянии был человек во время написания текста. Применяется также для изучения предсмертных записок, чтобы определить, было ли это самоубийство или нет.
                li
                  | Портретную, также называемую габитоскопией. Работа с фотороботом, или с фотографиями или кадрами их видео. По этим изображениям эксперт может опознать человека в рамках уголовного или гражданского дела.
                li
                  | <a href="../trasologia/">Трасологическую.</a> Исследует следы. Это могут быть повреждения, частицы вещества, изменения агрегатного состояния предметов в связи с разными воздействиями (химическими, температурными, физическими и т.д.)
                li
                  | <a href="../ted/">Технико-криминалистическую экспертизу документов.</a> Моделирование условий создания доркументации. Анализу подвергаются сами бумаги, штампы и печати, пометки и подписи, а также техника или расходные средства, с применением которых создавались документы.
                li
                  | <a href="../ted/">Экспертизу возраста документа.</a>. Исследует состояние бумаги, чернил, подписей, штампов – всего, что имеется у документа и что поможет определить его реальный возраст.
              h3 Правовые основы криминалистических экспертиз
              p
                | В своей работе специалисты отталкиваются от 73-ФЗ, закона, который регулирует процедуру экспертной деятельности в РФ. Согласно нормам закона, эксперт не может разглашать полученные данные в ходе предварительного следствия, также что он имеет права, обеспеченные процессуальным законодательством.
              p
                | Как было сказано выше, экспертизы могут проводиться не только одним специалистом, но и комиссией, включающей в себя экспертов из одной или разных областей знания.
              p
                | Как и при других экспертизах, в первую очередь необходимо составить перечень вопросов для специалиста, ответы на которые позволят получить необходимую доказательную базу. Какими могут быть вопросы зависит, в первую очередь, он вида проводимого исследования, а также обстоятельств дела и целью, с которой проводится экспертиза.
              p  

             
      section.zakaz-section
        .container
          .row.justify-content-center
            .col-md-10
              p.text-center
                include ../modules/mcontact
              
