extends ../layout/main

block variables
    - var title = 'Финансово-экономическая судебная экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Финансово-экономическая экспертиза в Екатеринбурге. Экспертная организация «Росоценка» исследует экономические показатели, процессы и составит заключение."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Финансово-экономическая судебная экспертиза
            a.go-down.js-smoothscroll(href="#next")
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >10 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Пожалуй, одна из самых частых экспертиз при расследовании ненасильственных уголовных дел. Все преступления, не связанные с насилием, так или иначе связаны с финансовыми операциями: махинациями, хищениями, и так далее. Разобраться в подобных историях позволяет финансово-экономическая экспертиза.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/five.svg" alt="Финансово-экономическая судебная экспертиза. Независимая экспертная компания Росоценка.")
               
              p
                | Но сразу отметим, что пригождается данный вид исследования не только при расследовании уголовных дел, но также в гражданских и арбитражных процессах, где споры также проистекают вокруг финансовых вопросов, и где требуются специальные знания в финансовой сфере.
              p Что изучает финансово-экономическая экспертиза:
              ul
                li
                  | Экономическую и финансовую деятельность и операции субъекта. В процессе исследования эксперт занимается анализом тех финансовых процессов, которые происходили у определённого лица, чаще – организации, юридического лица.
                li Отдельные финансовые показатели и операции, транзакции, отражение их в учёте.
                li Факты, которые также требуют экономической либо стоимостной оценки.
              p
                | Высокую распространённость данного вида судебной экспертизы объясняет ещё и то, что исследование способно решить большой спектр задач. Первостепенная цель и задача – содействовать в выявлении определённых фактов, связанных с делом, для следствия и суда, а также определять искажения данных и информации.
              p
                | Судебные экономические экспертизы подразделяются на несколько подвидов, определяемых задачами, поставленными специалисту в конкретном случае.
              ul
                li
                  | Судебно-бухгалтерская экспертиза – в её рамках специалист исследует баланс, отчётности, транзакции, учёт, операции в рамках бухгалтерии предприятия, поднимает и изучает документы и т.д.
                li
                  | Судебная финансово-экономическая экспертиза – проверка финансовой деятельности организации, её договоров, контрагентов и тому подобное. Более широкая и выходящая за рамки отчетностей и дел внутри предприятия.
              p
                | Данные виды исследований, несмотря на существенные отличия друг от друга, между собой тесно связаны. Например, в ходе проведения исследования одного вида суд может прийти к пониманию необходимости проведения экспертизы другого вида, и назначить ещё и её. В первую очередь, связь данных двух исследований обусловлена общим предметом и одними и теми же объектами, которые подвергаются изучению.
              p
                | Спектр главных задач, устанавливаемых для специалистов финансово-экономической сферы:
              ul
                li
                  | Установить, имели ли место искажения учётных данных, совершали ли бухгалтера разного рода махинации и применяли ли свои возможности и полномочия для влияния на имеющиеся показатели организации.
                li Велась ли отчётность в рамках правил ведения бухучета.
                li
                  | Полное изучение показателей текущего состояния и финансовой деятельности организации, рассмотрение на основе разных параметров: активы, платёжеспособность, ликвидность и т.д.
                li
                  | Динамика и движение средств, изменение финансового положения компании на протяжении времени, анализ причин наступивших изменений.
              p
                | Разумеется, для проведения полной и корректной судебно-финансовой экспертизы специалист должен иметь полный доступ к бухгалтерским материалам и отчётностям организации, которая подвергается анализу. Если для проведения исследования невозможно предоставить главную книгу, или же журналы-ордеры, то в расчёт берётся первичная бухгалтерская документация в обработанном виде.
              p
                | Эксперт производит группировку платёжных поручений в хронологическом порядке, собираются все сопутствующие документы, такие как накладные, счета-фактуры и так далее. Через банковских баланс и вышеперечисленные документы можно установить финансовую обстановку и положение дел компании.
              p
                | Стоит отметить, что отчёт финансово-экономического исследования – не просто официальный результат экспертизы, но и играет роль документа доказательного значения. Данные бумаги могут применяться в суде, и даже при проведении процедуры дознания.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Для проведения полной и корректной судебно-финансовой экспертизы специалист должен иметь полный доступ к бухгалтерским материалам и отчётностям.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт