extends ../layout/main

block variables
    - var title = 'Инженерные экспертизы. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Инженерные экспертизы - экспертная компания «Росоценка» в Екатеринбурге а."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Инженерная экспертиза
            a.go-down.js-smoothscroll(href="#next")
    section.templateux-section#next
      .container(data-aos="fade-up")
        include ../modules/engineer_sq
        row
    section.templateux-section#second  
      .container(data-aos="fade-up")
        
          .row.justify-content-end
            .col-md-9
              p.doublesize
                |  Чем больше судебных исков и разбирательств в отрасли, тем отчётливее понятно, что она – отрасль – нуждается в профессиональных экспертах, способных установить правду и раскрыть все обстоятельства.
          .row.justify-content-center     
            .col-md-3.sidebar-box
              p 
               ul.sidelink
                li 
                 a(href='../autotovar/') Пожарно-техническая 
                li
                 a(href='../obstojatelstva/') Экспертиза видеозаписей
                li 
                 a(href='../kachestvo/') 3Д моделирование событий связанных с авто происшествием 
                li
                 a(href='../trasologia/') Компьютерная экспертиза
            
              // include ../modules/expertise_tree

            .col-md-9
              img.img-fluid(src="../img/svg/man_lamp.svg" alt="Оценка недвижимости. Независимая оценочная компания Росоценка.")
              
              h2 Инженерная экспертиза: виды и цели исследований
              p
                | Наращивает популярность относительно свежее направление инженерных экспертиз. Такое исследование нужно, если возникает спорная ситуация между исполнителями работы по проектированию или же монтажу инженерных систем, коммуникаций и оборудования, и заказчиком, оплатившим данные работы.
              p
                | Если возникают вопросы к качеству исполнения, связанные с применяемым инструментом или материалом, а также неудовлетворительной работе инженерных систем, стоит обратиться к экспертам. И лучше сделать это при первых подозрениях, иначе ситуация может обернуться аварией или несчастным случаем, и проводить исследование придётся уже по факту понесённого ущерба.
              p
                | Поможет инженерная экспертиза избежать лишних трат, например, при приобретении недвижимости. Сооружения оснащены инженерными системами, и заблаговременное исследование до момента приобретения покажет, какие вложения могут потребоваться, и в каком состоянии коммуникации и системы в целом.
              p К инженерным экспертизам относят следующие подвиды:
              ul
                li
                  | Электротехническая – исследование электрооборудование, состояния, остаточного ресурса, соответствия и т.д.
                li Энергетическая – исследование затрат на потребляемые энергоресурсы.
                li Фототехническая – исследование фотооборудования и фотоматериалов.
                li Инженерно-технологическая – исследует инженерные системы и оборудование.
                li
                  | Компьютеро-техническая – изучение роли компьютера или иного подобного технического объекта в совершении преступления.
                li Пожарно-техническая экспертиза – проверка обстоятельств и причин пожара.
                li
                  | Видеотехническая экспертиза – исследование видеоизображений и всего, что с ними связано.
              p
                | Если говорить о самых простых инженерных решениях, то это вентиляция, кондиционирование, водоснабжение, отопление, канализация и коммуникации, связанные с телефонией, телевидением и интернетом. Инженерная экспертиза строго необходима, если:
              ul
                li Истекли сроки эксплуатации систем, обозначенные автором инженерного проекта.
                li Ресурс систем неизвестен, а срок эксплуатации объекта превысил 20 лет.
                li
                  | Ресурс неизвестен, но системы прошли более тысячи малоцикловых нагрузок за время эксплуатации.
                li Системы какое-то время работали в условиях за рамками допустимых.
                li Есть потребность в уточнении остаточного ресурса систем.
                li Проводится реконструкция систем, работающих под давлением.
                li Имеются соответствующие требования от органов технадзора.
              p
                strong Из чего состоит инженерная экспертиза
              p
                | Первое, что включает в себя экспертиза – заявка на исследования, подаваемая заинтересованным лицом или стороной. Специалисты рассматривают поданную заявку и определяют объем и виды будущих работ.
              p
                | В случае, если есть такая возможность, специалисты планируют испытание оборудования инженерных систем и их подробную диагностику. Далее результаты проведённых анализов вносятся в общее экспертное заключение, составляются все необходимые документы по результатам исследования.
              p Обычно алгоритм проведения инженерной экспертизы следующий:
              ul
                li
                  | Специалист знакомится со всей имеющейся на объект документацией, вплоть до строительной, эксплуатационной и проектной. Таким образом он определяет наличие или отсутствие отклонений готового проекта от того, что было указано в документах.
                li Проводится осмотр оборудования и его элементов.
                li Проверяется работа оборудования, фиксируется результат проверки.
                li
                  | Диагностируются параметры работы оборудования: шумы, вибрация, визуальный, акустический, электрический контроль и т.д., а также изменения в толщине, твердости, структуре и прочих параметрах.
              p
                | Лишь по завершению всей процедуры эксперт заносит в документы выводы о том, насколько соответствует или же не соответствует оборудование и его состояние задокументированным нормам, а также о том, каков остаточный ресурс исследуемых объектов.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
              
