extends ../layout/main

block variables
    - var title = 'Независимая оценочная компания Росоценка. Заказать экспертизу и исследование.'
    - var name = "expertise"
    - var desc = "Экспертиза в Екатеринбурге, заказать услугу по проведению экспертизы."

block content
    section.templateux-hero(data-scrollax-parent="true")
      // <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="images/hero_2.jpg" /></div>
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Экспертизы и исследования
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
       .container(data-aos="fade-up")
          include ../modules/expertise_sq