extends ../layout/main

block variables
    - var title = 'Экспертиза качества проведения ремонта транспортного средства. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Экспертиза качества проведения ремонта транспортного средства в Екатеринбурге. Экспертиза, проведение которой покажет, качественно ли проведены ремонтные работы, заменены ли детали на транспортном средстве."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Экспертиза качества проведения ремонта транспортного средства 
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >5 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Чтобы доказать, что в действительности ремонт был проведён некачественно, сервисмены допустили ошибки и требуется дополнительная работа для исправления дефектов, требуется соответствующая проверка. Данный вид автотехнической экспертизы называется «экспертизой качества проведения ремонта», и это самый верный способ отстоять свою правоту в спорах с мастерской.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Экспертиза качества проведения ремонта транспортного средства. Независимая экспертная компания Росоценка.")
            h2 Экспертиза качества проведения ремонта транспортного средства
            p
              | До тех пор, пока автомобиль (или же мотоцикл, катер, иное транспортное средство) находится в автосервисе, не представляет никакого труда устранить ошибки и недоработки в проведённом ремонте. Клиент просто указывает, чем именно он недоволен, и проблему решают на месте. Совсем другое дело, если уже после подписания акта выполненных работ и какого-то времени эксплуатации проблемы, не замеченные сразу, дают о себе знать.
           
            h3 Верный способ защитить права и интересы автовладельца
            p
              | Доказать, что ремонтные работы были проведены ненадлежащим образом, самостоятельно фактически невозможно. Ведь понятно, что для определения качества работ нужно хорошо разбираться в ремонте машин, а подавляющее большинство обывателей такими специальными знаниями не располагает.
            p
              | Следовательно, самым лучшим доказательством, что авто починили плохо, является заключение компетентного эксперта. Кроме того, именно специалист в ремонтно-технической сфере способен устанавливать причинно-следственные связи между некачественным ремонтом и последующими дефектами.
            p
              | Стоит отметить, что у клиента, пострадавшего от некачественного ремонта авто, есть ровно два года для того, чтобы возместить ущерб. Причём это в случае, если мы говорим о мелких дефектах и недочётах. Если же проблема серьёзная, то за её устранением можно обратиться в течение десяти лет.
            p
              | В случае, если эксперт всё же выявил некачественный ремонт и обнаружил дефекты, вызванные ненадлежащей работой специалистов, у собственника транспортного средства есть выбор, в каком виде получить компенсацию:
            ul
              li Потребовать проведения повторного ремонта бесплатно (за счёт мастерской).
              li Потребовать скидку на уже проведённые работы.
              li Получить обратно деньги, затраченные на ремонт.
            p
              | Какие основания требуются, чтобы запросить экспертизу? В первую очередь, нужно составить письменное заявление с включением следующей информации: указать собственные паспортные данные, максимально подробно расписать ситуацию, указав даты, наименования, детали и подробности, обозначить список вопросов для эксперта.
            p
              | Данные паспорта указываются физическим лицом, если же от ненадлежащего ремонта пострадала компания, то вместо них указываются подробные данные о предприятии.
            p
              | Исследование может проводить эксперт от организации, специализирующейся на автотехнических экспертизах или же конкретно на проверке качества ремонта, или же эксперт-физическое лицо, выступающий как индивидуальный предприниматель. Важно помнить, что свою силу результаты исследования будут иметь лишь в случае проведения аттестованным специалистом.
            h3 Вопросы и заключение
            p
              | Первостепенная задача эксперта – ответить на три главных вопроса о происшествии, а именно: что произошло, где и когда. В рамках раскрытия данных вопросов возникают уточняющие, и в итоге специалист при подготовке выводов расследует все детали и обстоятельства происшествия.
            p В итоге составляется заключение, состоящее из следующих материалов:
            ul
              li Данные об эксперте и организации.
              li Дата, когда было составлено заключение.
              li Его номер в реестре документов.
              li Основания проведения исследовательской работы.
              li Данные лица, инициировавшего экспертизу.
              li Характеристики исследуемого объекта.
              li Описание всех проведённых работ.
              li Обоснование всех выводов, подробное и исчерпывающее.
              li Список применённой литературы.
            p.note
              | В своих выводах эксперт не может допускать двоякие и неоднозначные формулировки, если что-то из написанного может быть трактовано иначе, нежели подразумевалось, эти данные должны быть переписаны более конкретно.
            p
              | Что касается подробного списка вопросов для эксперта, то здесь всё зависит от индивидуальной конкретной ситуации. Каждый случай особенный, и вопросы зависят от допущенных сервисом нарушений.
            h3 Наиболее частые претензии к автомастерским
            p
              | Распространённые нарушения, которые чаще всего приводят к подобного рода спорам, известны большинству автомобилистов.
            p
              | Нередко мастерские устанавливают по цене запчастей-оригиналов низкокачественные аналоги, таким образом, клиент существенно переплачивает за детали. Или же порой под видом новых запчастей устанавливаются детали б/у, таким образом, автовладелец вновь платит больше реальной стоимости.
            p
              | Иногда вместо реальной замены детали, указанной в акте выполненных работ, на самом деле используется ремкомплект, или же детали даже не подвергаются ремонту, а остаются в том же состоянии, в котором были.
            p
              | Если клиента мастерской настигли сомнения ещё до приёма работы, однако точно понять, что именно его смущает, не удается, можно воспользоваться услугами эксперта ещё до выезда из автосервиса, что позволит с точностью определить наличие проблем и устранить их на месте.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Самым лучшим доказательством, что авто починили плохо, является заключение компетентного эксперта”
            p.author
              | — 
              span Андрей Кайгородцев
              | , 
              span Ведущий эксперт