extends ../layout/main

block variables
    - var title = 'Экспертиза обстоятельств ДТП. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Экспертиза обстоятельств ДТП в Екатеринбурге. Экспертная организация «Росоценка» профессионально исследует ДТП и обстоятельства транспортной аварии."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Экспертиза обстоятельств ДТП 
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >7 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Ещё один частый вид автотехнической экспертизы отвечает за исследование подробностей аварии. Автомобилистов огромное множество, статистика ДТП в масштабах страны содержит пятизначные числа. Не все аварии позволяют сразу и на месте установить виновника, как и не все виновники соглашаются с тем, что ДТП произошло из-за их ошибки. 
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Автотовароведческая экспертиза. Независимая экспертная компания Росоценка.")
            
            h2 Экспертиза обстоятельств ДТП: кто виновен?
            p
              | Для того, чтобы в инциденте не оставалось «белых пятен», и заказывают экспертизу обстоятельств ДТП. Для её проведения воссоздаётся целая реконструкция происшествия и всех сопутствующих ему факторов. Эксперт берёт в расчёт всё – условия окружения, погоду, дорожное полотно и т.д. Особенно высока потребность в данном исследовании, если не имеется свидетельских показаний, или же они противоречивы и запутанны, и выяснить все обстоятельства ДТП без применения специальных знаний нет никакой возможности.
            p
              | Таким образом, заказать исследование может и потерпевшая стороны, и виновник аварии, если он придерживается мнения, что не виноват в случившемся. Если ситуация так и не прояснилась на момент судебного разбирательства, суд также может назначить экспертизу.
            p Аспекты, которые проверяются экспертом в ходе работы:
            ul
              li Особенности случившейся аварии, факты и данные.
              li Состояние транспортного средства и его загруженность.
              li Скорость движения всех участников ДТП.
              li Состояние и особенности дорожного покрытия.
              li Иные факторы.
            p
              | За основу исследования также берутся данные материалов уголовного дела, без включения в них правовой оценки. Для установления подробностей одной аварии может потребоваться помощь множества экспертов, так как отдельно требуется изучение следов на месте аварии, оценка потери стоимости и прочих параметров. Тем не менее, иногда подобного рода работу может выполнить один специалист, который в своей работе может обращаться к профессионалам разных сфер: инженерам, метеорологам и т.д.
            h3 Ход исследования
            p
              | Первым делом определяются задачи, которые должно решить исследования. Для этого формулируется список вопросов, после чего происходит подписание договора на проведение работы.
            h3 Экспертиза обстоятельств ДТП: кто виновен?
            p
              | Ещё один частый вид автотехнической экспертизы отвечает за исследование подробностей аварии. Автомобилистов огромное множество, статистика ДТП в масштабах страны содержит пятизначные числа. Не все аварии позволяют сразу и на месте установить виновника, как и не все виновники соглашаются с тем, что ДТП произошло из-за их ошибки.
            p
              | Для того, чтобы в инциденте не оставалось «белых пятен», и заказывают экспертизу обстоятельств ДТП. Для её проведения воссоздаётся целая реконструкция происшествия и всех сопутствующих ему факторов. Эксперт берёт в расчёт всё – условия окружения, погоду, дорожное полотно и т.д. Особенно высока потребность в данном исследовании, если не имеется свидетельских показаний, или же они противоречивы и запутанны, и выяснить все обстоятельства ДТП без применения специальных знаний нет никакой возможности.
            p
              | Таким образом, заказать исследование может и потерпевшая стороны, и виновник аварии, если он придерживается мнения, что не виноват в случившемся. Если ситуация так и не прояснилась на момент судебного разбирательства, суд также может назначить экспертизу.
            p Аспекты, которые проверяются экспертом в ходе работы:
            ul
              li Особенности случившейся аварии, факты и данные.
              li Состояние транспортного средства и его загруженность.
              li Скорость движения всех участников ДТП.
              li Состояние и особенности дорожного покрытия.
              li Иные факторы.
            p
              | За основу исследования также берутся данные материалов уголовного дела, без включения в них правовой оценки. Для установления подробностей одной аварии может потребоваться помощь множества экспертов, так как отдельно требуется изучение следов на месте аварии, оценка потери стоимости и прочих параметров. Тем не менее, иногда подобного рода работу может выполнить один специалист, который в своей работе может обращаться к профессионалам разных сфер: инженерам, метеорологам и т.д.
            h3 Ход исследования
            p
              | Первым делом определяются задачи, которые должно решить исследования. Для этого формулируется список вопросов, после чего происходит подписание договора на проведение работы.
            p
              | Непосредственно после этого шага эксперту передают материалы дела. В случае необходимости он запрашивает также дополнительные материалы, если имеющихся данных недостаточно для анализа и ответа на поставленные перед ним вопросы. Также эксперт может запрашивать повторные опросы участников и свидетелей ДТП.
            p
              | Когда все анализы и исследования проведены, специалист переходит к завершающей, одной из самых ответственных стадий работы – составлению заключения. Именно заключение является продуктом экспертизы, и лишь составленные корректно документ обладает доказательной силой и может быть приобщён к материалам дела как доказательство.
            p
              | Если это потребуется, эксперт может также выступить в суде, давая показания по выданному заключению и разъясняя моменты, по которым у суда могут возникнуть вопросы. Так как анализ обстоятельств ДТП многоуровневый и сложный, и требует высокой компетенции, суд и стороны процесса могут путем задавания вопросов выяснять для себя те или иные аспекты.
            p Что определяется в ходе экспертизы:
            ul
              li Все участники ДТП, их скорость и остановочный путь.
              li Обстоятельства аварии реконструируются путём трасологического исследования.
              li История действий водителя, соблюдение или несоблюдение ими ПДД.
              li Технические причины, которые привели к столкновению.
              li
                | Тех. состояние транспортного средства на наличие заводского брака или поломки до аварии.
              li
                | Достоверность показаний свидетелей и их соответствия технической информации, полученной в ходе экспертизы.
              li Погодные условия на момент ДТП.
            p
              | Помимо всего вышеперечисленного эксперт также проверяет дорожное полотно и его особенности в месте аварии, причины ДТП и восстановление событий, а также перемещения и местоположение других объектов к моменту аварии.
            p
              | Непосредственно после этого шага эксперту передают материалы дела. В случае необходимости он запрашивает также дополнительные материалы, если имеющихся данных недостаточно для анализа и ответа на поставленные перед ним вопросы. Также эксперт может запрашивать повторные опросы участников и свидетелей ДТП.
            p
              | Когда все анализы и исследования проведены, специалист переходит к завершающей, одной из самых ответственных стадий работы – составлению заключения. Именно заключение является продуктом экспертизы, и лишь составленные корректно документ обладает доказательной силой и может быть приобщён к материалам дела как доказательство.
            p.note
              | Если это потребуется, эксперт может также выступить в суде, давая показания по выданному заключению и разъясняя моменты, по которым у суда могут возникнуть вопросы. Так как анализ обстоятельств ДТП многоуровневый и сложный, и требует высокой компетенции, суд и стороны процесса могут путем задавания вопросов выяснять для себя те или иные аспекты.
            p Что определяется в ходе экспертизы:
            ul
              li Все участники ДТП, их скорость и остановочный путь.
              li Обстоятельства аварии реконструируются путём трасологического исследования.
              li История действий водителя, соблюдение или несоблюдение ими ПДД.
              li Технические причины, которые привели к столкновению.
              li
                | Тех. состояние транспортного средства на наличие заводского брака или поломки до аварии.
              li
                | Достоверность показаний свидетелей и их соответствия технической информации, полученной в ходе экспертизы.
              li Погодные условия на момент ДТП.
            p
              | Помимо всего вышеперечисленного эксперт также проверяет дорожное полотно и его особенности в месте аварии, причины ДТП и восстановление событий, а также перемещения и местоположение других объектов к моменту аварии. 

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Не все аварии позволяют сразу и на месте установить виновника, как и не все виновники соглашаются с тем, что ДТП произошло из-за их ошибки.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт