extends ../layout/main

block variables
    - var title = 'Оценка производственного комплекса. Независимая оценочная компания «Росоценка».'
    - var name = "ocenka"
    - var desc = "Оценка имущественного комплекса предприятия - оценочная компания «Росоценка» в Екатернбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка производственного комплекса
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Оценка
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >20 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Для оценки каждого вида имущества оценщиком используются свои выбранные методы в рамках каждого подхода.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Оценка имущественного комплекса предприятия. Независимая оценочная компания Росоценка.")
            h2 Оценка производственного комплекса
            p
              | Оценка производственного комплекса – это всегда оценка, совершаемая, исходя из посыла, что это имущество будет эксплуатироваться все вместе, и отдельные части этого имущества функционально дополняют полезное действие всех остальных. Существует отличие оценки  производственного комплекса от оценки бизнеса. Когда вы приобретаете крупное производство и планируете его модернизировать или перепрофилировать, есть шанс, что какие-то здания или сооружения не будут представлять для вас конкретно никакой ценности, но они имеют стоимость при продаже комплекса «в нарезку». Зачастую, имущественный комплекс предприятия не оценивается как бизнес или действующее предприятие, а только целиком и единым лотом, например, для залога банку.
            p
              | Завод чего-то стоит, когда работают цеха и загружены подсобные помещения. Если завод будет перепрофилирован с производства одного товара на другой, может выясниться, что площадь цехов излишняя, а административные помещения должны быть частично переориентированы в лаборатории. Это не значит, что отдельные здания не могут быть оценены – имущественный комплекс может быть разбит на составляющие и оценен по отдельности, но оценка комплекса ценна тем, что составляющие усиливают доходность друг от друга. Иногда выяснить это влияние друг на друга очень сложно.
            p
              | Например, наличие очистных сооружений. При оценке производственного комплекса в текущем состоянии это может иметь одну ценность, в случае получения кредита на развитие предприятия и перепрофилирования их ценность может упасть или взлететь. Оценщики предпочитают не оценивать производственный комплекс как бизнес при оценке имущественных комплексов вкупе. Важно не уйти в оценку бизнеса, в то же самое время не потерять адекватность оценки, изучая отдельные составляющие производственного комплекса.
            p
              | Сложна оценка производственного комплекса тем, что оценить влияние некоторых объектов друг на друга в точности до копейки невозможно, приходится рассчитывать варианты доходного использования в том или ином сочетании его составляющих.
            p
              | Подходы и методы оценки в целом определены законодательством оценочной деятельности, имущественный комплекс нельзя напрямую уравнять с бизнесом, и методы оценки бизнеса оценщик может использовать лишь исходя из внутренних профессиональных убеждений.
            p
              | Мы можем в интересах клиента составить бизнес-план, однако если оценка выполняется в целях залога, любые предположения о доходах производственного комплекса целиком можно использовать как вспомогательные материалы, так как степень точности расчетов относительно конкретных составляющих производственного комплекса сомнительная. Предпочтительные подходы к оценке производственного комплекса: сравнительный и затратный. Доходный подход можно достоверно применять для отдельных объектов производственного комплекса, но его использование должно соответствовать типу имущества и, по возможности, не являться расчетной частью общего дохода от производственного комплекса.
            p
              | Для оценки каждого вида имущества оценщиком используются свои выбранные методы в рамках каждого подхода. Имеется такая особенность оценки производственного комплекса: оценщик часто сталкивается с ситуацией, когда ему приходится в краткие сроки оценить большой перечень имущества предприятия, в такой ситуации оценщик вынужден использовать методы массовой, укрупнённой оценки. Они хорошо изучены и описаны в методической литературе, однако переход к таким методам снижает точность исследования и достоверность результата. В то же время, при оценке больших имущественных комплексов применение этого метода неизбежно.
            p
              | Имеется подвох оценки имущественного комплекса: как правило, такой комплекс создаётся в интересах определённого неширокого круга лиц, принимающих решения о его составе, распределении доходов. При оценке имущественного комплекса трудно избежать вопросов учета полезности имущества для будущего покупателя, у которого могут быть иные планы на использование этого производственного комплекса. Рыночная стоимость – стоимость объекта на открытом рынке для покупателя и продавца без обязательств друг перед другом, и не вынужденных совершать эту сделку.
            p
              | Если речь идёт о покупке, то любой будущий приобретатель, покупающий сложную вещь, вынужден покупать всё вместе, хотя что-то ему, возможно, будет не нужно. Стоимость зависит напрямую от ценности имущества для собственника. Поэтому оценщик всегда должен исходить не только из соображений полезности и доходности для нынешнего собственника, но и из того, что будущий собственник может захотеть раздробить и продать производственный комплекс или использовать его по частям.
            p
              | И, конечно, специалист, выполняющий оценку производственного комплекса, должен быть универсалом, ведь в состав его могут входить как часто оцениваемые объекты недвижимости, машины и оборудование, так и нематериальные активы, различные виды обязательств, и т.д.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Специалист, выполняющий оценку производственного комплекса, должен быть универсалом.”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор