extends ../layout/main

block variables
    - var title = 'Оценка дебиторской задолженности. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка дебиторской задолженности - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка дебиторской задолженности
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Любые взаиморасчеты между физическими или юридическими лицами предполагают передачу денежных средств, однако в случае со счетами компаний деньги могут быть выплачены не сразу. Те суммы, которые частное или юридическое лицо задолжали компании, образуют дебеторскую задолженность.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/five.svg"  alt="Оценка дебиторской задолженности. Независимая оценочная компания Росоценка.")
            p
              | Сумма дебиторской задолженности включается в оборотный капитал, и, как и другие его элементы, может быть оценена экспертом. Для этого оценщик изучает сроки формирования суммы задолженности, существующие сроки её погашения (по крайней мере, запланированные), юридические основания этих долгов и прочие факторы, которые включает в себя дебиторская задолжность.
            p
              | На практике права требования по обязательствам нередко совершают непредсказуемые «путешествия», отправляясь на переуступку или судебное регулирование. Увы, но своевременные и беспроблемные выплаты долгов – явление не слишком частое, и в итоге растущей как снежный ком дебиторской задолженности требуется оценка, чтобы взыскивать ее на суде или продавать организациям, которые собирают деньги с должников.
            p
              | Кроме того, оценку задолженности проводят при финансовой экспертизе предприятия. Не стоит воспринимать дебиторскую задолженность с позиции обычного займа денег. Устоявшаяся позиция при взаиморасчете физических лиц, где долг можно элементарно не отдать, здесь не действует – это такой же прочный актив, как, например, векселя или акции.
            p
              | По итогу поведённой работы эксперт определяет рыночную цену долга и стоимость права его требования. Этот отчёт пригодится на суде или в других официальных органах для утверждения стоимости долга.
            h3 Роль при оценке играют сразу многие факторы:
            ul
              li Финансовое положение дебитора.
              li Обеспечение исполнения обязательства.
              li Права требования.
              li Сроки, просрочка и возможность реализовать долг третьим лицам.
            p
              | Важно понимать, что слишком большая дебиторская задолженность, соотносимая с реальными активами предприятия на более, чем 30 процентов, в итоге скажется на общей экономической оценке всего предприятия в целом. Также крупные суммы по дебиторским долгам отразится на цене акций и иных активов предприятия.
            p
              | Сам долг продать нельзя, можно лишь продать уступку права его требования. Цена данной уступки определяется исключительно спросом и готовностью к приобретению третьей стороной.
            p Для продажи права уступки необходимо предоставить:
            ul
              li Договорные документы.
              li Платёжные бумаги по договору или договорам.
              li Накладные или акты передачи.
              li Переписку с контрагентом о регулировании долговых требований.
              li Если имеются, то судебные решения.
            p
              | На основании этого минимального набора оценщик способен провести исследование и вывести цену переуступки долга. В рамках оценки эксперт, первым делом, досконально изучает ситуацию возникновения долга.
            p
              | Согласно общепринятой практике деловых отношений, долговые обязательства должны гаситься немедленно по их возникновению. Иначе дебитор сильно потеряет в репутации, что повлечёт за собой упущенную выгоду и снижение финансовых показателей вплоть до банкротства.
            p
              | За счёт этого ликвидность уступки по дебиторской задолженности на рынке довольно высока. Рост дебиторской задолженности, и в принципе высокие показатели по этой графе положительно сказываются на её ликвидности, что повышает платёжеспособность предприятия. Однако российские реалии могут внести элемент непредсказуемости в оценку, так как долги порой оказываются невозвратными. Таким образом, дебиторская задолженность нуждается в детальной и тщательной оценке, так как может сыграть как на пользу, так и в минус для предприятия.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Дебиторская задолженность нуждается в детальной и тщательной оценке”
            p.author
              | — 
              span Надежда Мартьянова
              | , 
              span Генеральный директор
    