extends ../layout/main

block variables
    - var title = 'Оценка предприятия. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка предприятия - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка предприятия
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | При оценке бизнеса особое место занимает оценка целого предприятия. По сути это совокупность всех элементов, имеющих ценность и включённых в компанию. 
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/first.svg" alt="Оценка предприятия. Независимая оценочная компания Росоценка.")
           
            h2 Оценка предприятия: из чего состоит и для чего требуется
            p
              | В данном случае речь идёт как об активах, так и пассивах. Также сюда же относится эффективность труда сотрудников, непосредственно сам человеческий ресурс, конкурентные преимущества и множество других факторов, которые так или иначе влияют на стоимость предприятия в целом.
            p
              | <strong>Оценка предприятия</strong> – один из сложнейших видов оценочной деятельности. Здесь эксперт не только применяет классические виды анализа и формализованные методы и алгоритмы оценки, но и отчасти подходит творчески, так как не все параметры, особенно касающиеся будущих перспектив и насущной стоимости, удаётся определить с точностью по имеющимся сейчас данным.
            p
              | Таковых собирается очень много: исследуется деятельность компании, её доходность в прошлом, варианты для роста прибыли в будущем, возможности развития и динамика развития, положение на рынке в данном направлении деятельности, и многое другое.
            p
            h3 Что такое предприятие? 
            p
              | Номинально это субъект, который или производит товары, или оказывает услуги. Если предприниматель занят не самозанятостью, а бизнесом, то также предусмотрено создание рабочих мест и выплата сотрудникам заработной платы. Главная задача предприятия – извлекать прибыль, продавая свой товар или услуги. Главное различие с оценкой бизнеса в том, что если при оценке бизнеса эксперт исследует целые холдинги или крупные фирмы, то малые производственные циклы оцениваются как раз с точки зрения «предприятия».
            p
              | У любого предприятия достаточно цифр и показателей для расчёта оценки. В любом случае имеется бухгалтерская отчетность, баланс предприятия, расчётные и иные счета и другие документы. Предприятия подразделяются на три типа по своему масштабу:
            ul
              li Малые – менее ста сотрудников.
              li Средние – от 100 до 500 сотрудников.
              li Большие – 500 и более сотрудников.
            p
              | Размеры не играют роли в вопросе организационно-правовой формы, важно, какое предприятие – частное, или же муниципальное или государственное.
            h3 В какой сфере чаще применяется оценка предприятия
            p
              | Оценке подлежит любая организация любой сложности, и главная цель процедуры – <strong>выяснить стоимость существующего предприятия</strong>, конкурентоспособность и привлекательность с инвестиционной точки зрения.
            p И хотя любое предприятие доступно для оценки, наиболее часто происходит оценка:
            ul
              li
                | Банков – как крупных, так и малых. Банковский сектор часто подвержен оценочной экспертизе, так как в нём обращается много денежных средств и в России, по крайней мере ранее, была распространена история с «банками-однодневками».
              li
                | Медицина и фармакология. Всё, что касается медицинских услуг и здравоохранения, вплоть до санаториев и профилакториев, нередко становится объектами оценки.
              li Инвестиционные фонды.
              li
                | Компании, задействованные в IT. Сравнительно новое направление, которое малознакомо предпринимателям. Соответственно, нередко нуждается в оценке.
              li СМИ и иные медиа.
              li
                | Пищевая промышленность – подвергается оценке наиболее часто из всех перечисленных.
              li
                | Лесоперерабатывающая промышленность – широко задействована в России, следовательно, нередко подлежит оценке.
            p
              | Остальные отрасли, как производящие, так и добывающие, также подвергаются оценочным экспертизам, но не так часто, как перечисленные выше.
            h3 Для чего нужна оценка предприятия
            p
              | Оценить предприятие весьма непросто, ведь это предполагает дробление фирмы на её составные компоненты и аспекты деятельности, после чего всё это по отдельности оценивается и приводится к общему выводу.
            p Наиболее часто оценка нужна:
            ul
              li Непосредственно перед сделкой по продаже или передаче.
              li При проведении банкротства.
              li
                | Для любых манипуляций с акциями, будь то эмиссия, перераспределение долей или иная процедура.
              li В целях сокращения налоговых выплат.
              li Для выяснения эффективности предприятия.
            p
              | Изучением вопроса инвестпривлекательности занимаются в случае, когда предприятие нуждается в инвестиционных вливаниях извне. В ходе этой оценки определяются перспективы роста и возможности привлечения инвестиций.
            p
              | Помимо этого, эксперт-оценщик отдельно устанавливает эффективность распоряжения инвестициями, анализируя, как предприятие распоряжается привлечёнными деньгами.
            p
              | Прежде, чем обратиться в кредитную организацию за займом, оценивается имущество предприятия, так как именно оно служит главным обеспечением по долговым обязательствам. Если же предприятие недополучило денег, то оценщики высчитывают упущенную выгоду.
            p
              | Вычисление планов развития и стратегических возможностей предприятия предполагает расчёт параметров и характеристик конкурентов с аналогичными предложениями на рынке. Параметров при подобном расчёте также немало: это и общее состояние рынка, и эффективность кадровой политики предприятия, и его конкурентные преимущества.
            p
              | Ещё один важный фактор, играющий роль для привлечения зарубежного капитала или государственных субсидий – это <strong>оценка социального капитала.</strong> Название говорит за себя – при этом оценивается социальная значимость продукции предприятия, а также перспектива создания рабочих мест и соц. политика предприятия для сотрудников и их родственников.
            p
              | Процедура оценки может затронуть сразу несколько предприятий в случае, если речь идёт о потенциальном слиянии или поглощении одной компанией другой компании. В такой ситуации эксперт оценивает будущую прибыль объединённой организации.
            p
              | В целях страхования предприятия, высчитывается стоимость активов с целью установления суммы взноса и последующих страховых выплат. В рамках такой оценки эксперт исследует все объекты на балансе фирмы.
            p
              | Возникают ситуации, когда предприятию требуется сдать в аренду определённые объекты – для этого эксперту потребуется установить <strong><a href="../ocenkaas/">арендную ставку</a>.</strong> В случае, если объект арендуется государственным образованием, независимая оценка обязательна для сдачи в аренду.
            p
              | Когда предприятие резко разрастается и расширяет деятельность, или же просто привлекает дополнительные средства на свою деятельность, эксперты оценивают объекты лизинга, что позволяет дополучить необходимые средства.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Оценке подлежит любая организация любой сложности, и главная цель процедуры – выяснить стоимость существующего предприятия”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор
    