extends ../layout/main

block variables
    - var title = 'Оценка земельных участков. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка земельных участков - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка земельных участков
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Земельные участки подлежат оценке более широко, чем иная недвижимость, так как они являют собой «чистый лист», на котором может быть построено сооружение разных назначений.
              | Эксперт может устанавливать цену участка, стоимость его аренды и оценивать права собственности. 
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/second.svg" alt="Оценка земельных участков. Независимая оценочная компания Росоценка.")
            h3
             | Различаются земельные участки, в первую очередь, по их назначению и расположению:
            ol
              li В городе или ином населённом пункте, предназначенные для ИЖС или строительства многоквартирного дома.
              li Земля сельхозназначения – поля, пашни и иные территории, пригодные для выращивания культур и, следовательно, извлечения прибыли из агробизнеса. 
              li Земли промышленности, где доступна постройка производственных зданий и помещений. Относится, как и земли сельхозназначения, к коммерческой недвижимости.
              li Земли лесного фонда – применяется не для строительства, а для добычи леса. Оценщик может установить стоимость делянки, которую хотел бы приобрести предприниматель для добычи древесины. 
              li Земли особо охраняемых территорий и объектов – в том числе, заповедные земли. Несмотря на то, что их нельзя приобретать в частную собственность, тем не менее они также имеют стоимость.
            p
              | Помимо оценки «голой» земли, на которой нет коммуникаций и построек, оценивать также можно участки, на которых уже начаты работы по строительству или сооружению коммуникаций.
            h3 Корректная оценка потребует обращения к документам:
            ol
              li Статус участка и права на него.
              li Границы участка с геодезической картой и планом.
              li Информация о имеющихся обременениях и обязательствах. 
              li Наличие действующих договоров, соглашений и арендаторов.
            h3 Оценка права собственности на землю 
            p Земельные участки оцениваются специальными методами, описанными в рекомендациях от Министерства имущества России, изданного в 2002 году. 
            p Там отмечается, что рыночная стоимость имеется у тех участков, которые отвечают принципу полезности, то есть способны удовлетворять потребности покупателя.
            p Рыночную стоимость формирует непосредственно рынок – эксперт изучает аналогичные предложения, и отталкиваясь от них устанавливает стоимость оцениваемого объекта. Первостепенно, определяемая стоимость не будет превышать «потолочной» цены по рынку, то есть, объект не оценят дороже самых дорогих аналогичных предложений.
            p Другой немаловажный момент – принцип ожидания – состоит из предполагаемой величины потенциального дохода и сроков его получения при самом эффективном использовании без учёта дополнительной предпринимательской деятельности.
            p Естественно и то, что со временем показатели могут изменяться, таким образом оценка имеет силу лишь определённое время. На стоимость и её колебания могут влиять перемены в целевом назначении иные факторы, меняющиеся со временем, вроде прав собственности или внешних факторов.
            p Оценка земельного участка производится по верхней планке эффективности использования. Учитываются те возможности, которые способен дать участок земли в соответствии законами и финансовыми возможностями и характеристиками. Предельно эффективное использование участка не обязательно совпадает с его текущим применением.
            h3 Оценка права долгосрочной аренды на землю 
            p Права аренды оцениваются по методическим рекомендациям Минимущества от 2003 года. 
            p Здесь также фигурируют принцип полезности, спроса и предложения, а также иные принципы, описанные выше. Права арендатора, ожидания по части прибыли, действующие обременения, если таковые есть – совокупность этих факторов повлияет на цену, которую определит для объекта эксперт.
            
            h3 Кадастровая оценка земли 
            p Государственная кадастровая оценка проводится в зависимости от категории земельного участка. Данные о принадлежности земли берутся из земельного кадастра и соответствуют праву устанавливающими документами на участок земли.
            p Кадастровая стоимость уточняется государственной кадастровой оценкой. При определении также рыночной стоимости участка кадастровая стоимость устанавливается в процентах от суммы оценки. 

            h3 Нормативная цена земли 
            p Это показатель, зависящий от географии и качества участка, включающий в себя потенциальный доход и предполагаемый срок окупаемости. 
            p Данная сумма не может превышать 75% от уровня рыночной стоимости на типичные земельные участки аналогичного целевого назначения. 

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Земельные участки подлежат оценке более широко, чем иная недвижимость, так как они являют собой «чистый лист», на котором может быть построено сооружение разных назначений.”
            p.author
              | — 
              span Надежда Мартьянова
              | , 
              span Генеральный директор
    