extends ../layout/main

block variables
    - var title = 'Оценка акций. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка акций - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка акций
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Акционерное общество, будь оно открытым, закрытым или публичным, имеет отличительную особенность – возможность выпускать акции. Как и иные ценные бумаги, акции имеют свою стоимость, которая напрямую зависит от финансового положения компании. Взлёты и падения, стагнацию и рост – всё это акции переживают вместе с АО.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/three.svg" alt="Оценка акций и долей бизнеса. Независимая оценочная компания Росоценка.")

            h2 Оценка стоимости акций и долей бизнеса

            p
              | В некоторых случаях акции не всегда выведены на рынок, и для их выведения в определённый момент времени их нужно сначала оценить. Расчёт стоимости будет зависеть как репутация акционерного общества (предприятия), так и объёмы привлекаемых инвестиций. Оценка акций возможна несколькими методами, при этом оценка на сегодняшний день производится очень точно.
            p
              | Другая организационная форма: общество с ограниченной ответственностью, также может разделяться между собственниками. Но только не акциями, а долями в уставном капитале. Доли эти также нуждаются в оценке при любых манипуляциях с предприятием как объектом, представляющим ценность.
            h3 Как оценить акции и доли в ООО?
            p
              | Оценка акций – более сложная процедура, чем может показаться на первый взгляд. Мало только оценить те дивиденды, которые получает держатель ценных бумаг. Методы точного расчёта определяются типом бумаг, которые различаются по способу выплат дивидендов:
            ul
              li Фиксированные дивиденды – выплата определённой суммы.
              li Растущие дивиденды – выплаты возрастающей денежной суммы.
              li
                | Переменные дивиденды – частый вид бумаг, которые позволяют акционеру получать долю, зависящую от заработанных предприятием сумм. То есть, процент от дохода.
            p
              | Всего способов оценки большое множество, однако стоит обратить внимание на самые распространённые, так как именно они применяются в абсолютном большинстве случаев.
            ul
              li
                | <strong>Метод прямой капитализации</strong> – используется чаще для малых инвесторов, покупающих годовой срок акций. Высчитывается по двум переменным – годовой прибыли акций, которая одновременно является общей прибылью, а также среднего уровня годовой прибыльности.
              li
                | <strong>Индексирование номинальной стоимости</strong> – оценивается начальная стоимость акций фирмы в банковских фондах. При таком расчёте номинальная цена пакета акций высчитывается с коэффициентом индексации и прибыли банка.
              li
                | <strong>Прямая балансовая стоимость.</strong> Довольно простой способ, включающий в себя подсчёт несущих прибыль акционных активов, а также факторов, которые могут сказаться на показателях прибыли в дальнейшем.
              li
                | <strong>Аккумулирование активов.</strong> Высчитывается стоимость акций компании в пересчёте на имеющиеся у неё активы и пассивы. Такая оценка производится по последней отчётности юридического лица.
            p.note
              | Подобного рода оценка требует широких экономических и финансовых познаний от эксперта. Пожалуй, оценку акций и долей компаний можно назвать одной из самых широких в плане требуемых знаний, ведь оценщику также нужно применять познания в сфере права.
            p
              | <strong>Ценные бумаги</strong> – это основа крупных компаний и один из важных аккумуляторов прибыли, поэтому производить оценку капитала по акциям и бумагам необходимо по крайней мере время от времени, чтобы всегда иметь представление о текущей стоимости долей акционеров.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Подобного рода оценка требует широких экономических и финансовых познаний от эксперта”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор
    