extends ../layout/main

block variables
    - var title = 'Оценка бизнеса. Независимая оценочная компания «Росоценка».'
    - var name = "ocenka"
    - var desc = "Оценка бизнеса - оценочная компания «Росоценка» в Екатеринбурге профессионально оценит бизнес и акции для управленческих решений и сделок, в случае банкротства, ликвидации."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка бизнеса
            a.go-down.js-smoothscroll(href="#next")
    section.templateux-section#next
      .container(data-aos="fade-up")
        include ../modules/ocenkab_sq
        row
    section.templateux-section#second  
      .container(data-aos="fade-up")
        
          .row.justify-content-end
            .col-md-9
              p.doublesize
                |  Обстановка на предприятии и его положение могут изменяться в считанные дни, и для многих серьёзных решений, связанных с бизнесом, требуется предварительно всё тщательно взвесить и произвести оценку. Оценка бизнеса хоть и технически сложнее, чем оценка квартиры или машины, в целом использует схожие методы.
          .row.justify-content-center     
            .col-md-3.sidebar-box
              p 
               ul.sidelink
                li 
                 a(href='../ocenkaa/') Оценка акций и долей 
                li
                 a(href='../ocenkapos/') Переоценка основных средств 
                li 
                 a(href='../ocenkadz/') Оценка дебиторской задолженности  
                li
                 a(href='../ocenkap/') Оценка предприятия
              
              // include ../modules/ocenka_tree

            .col-md-9
                img.img-fluid(src="../img/svg/lamp.svg" alt="Оценка бизнеса. Независимая оценочная компания Росоценка.")

                h2 Оценка бизнеса: необходимость для принятия стратегических решений
                p
                  | В то время как оценка недвижимости или транспорта имеет достаточно «статичный» характер, где перемены обусловлены временем и в меру постоянны, оценка бизнеса существенно сложнее и динамичнее.
                p
                  | Обстановка на предприятии и его положение могут изменяться в считанные дни, и для многих серьёзных решений, связанных с бизнесом, требуется предварительно всё тщательно взвесить и произвести оценку. Оценка бизнеса хоть и технически сложнее, чем оценка квартиры или машины, в целом использует схожие методы.
                p
                  | Первое существенное отличие: продавая дом или авто, человек может хотя бы примерно определить его стоимость, просто просмотрев аналогичные предложения на рынке. В случае с бизнесом этот инструмент не сработает, так как две схожие между собой, скажем, кофейни, могут стоить совершенно по-разному из-за отличий в концепции или других особенностей.
                h3 Поэтому при оценке бизнеса важно учитывать:
                ul
                  li Проходимость объекта (если это торговое помещение или общепит);
                  li Качество сырья и оказываемых услуг;
                  li Квалификация и мотивация сотрудников;
                  li Внутреннее обустройство, интерьер.
                  li Расходую и доходную части, как ожидаемые, так и уже имеющиеся.
                p
                  | И это лишь вершина айсберга. Оценка бизнеса – тонкий процесс, учитывающий массу факторов, которые попросту не доступны для анализа неквалифицированному человеку.
                h3
                  | Существуют ситуации, когда оценить бизнес предписывает закон. Согласно ст. 8 135-ФЗ, оценку бизнеса нужно проводить:
                ul
                  li При сделке с имуществом РФ.
                  li При спорах о стоимости имущества.
                  li В случае, если часть бизнеса или же весь бизнес находится в залоге.
                  li При спорах с налоговой службой по части правильности расчетов уплаты налога.
                  li При внесении средств в уставной капитал в неденежной форме.
                  li При передаче бизнеса или имущественного комплекса в ипотеку.
                  li Используя предприятие в закладной.
                  li
                    | При выкупе АО собственных акций по требованию акционеров (рыночная стоимость акций определяется оценщиком).
                  li В случае банкротства предприятия.
                p
                  | Как можно видеть, перечень ситуаций, когда оценка обязательна, довольно серьёзный. В то же время есть много ситуаций, когда оценка производится добровольно. Отметим, что за последние 9 лет ситуация поменялась в корне: если в 2010 году преобладала обязательная оценка (на неё приходилось порядка 80% всех процедур), то в 2019 этот показатель снизился до 10 процентов.
                h3
                  | Это не столько означает, что стало меньше случае обязательной оценки – напротив, стало больше случаев оценки добровольной. Она производится:
                ul
                  li При купле-продаже бизнеса либо доли в нём.
                  li
                    | При потребности повышения качества управления бизнесом или проведения реструктуризации.
                  li
                    | Для «зачистки» от ненужных активов, будь то имущество или сотрудники, не имеющие внятного функционала.
                  li
                    | При подготовке к сделке по слиянию или поглощению бизнеса. В этом случае также определяется эффект синергии от проведения слияния.
                  li Для получения кредита под залог бизнеса.
                  li При потребности застраховать имущественный комплекс.
                  li Для передачи права пользования нематериальными активами по лицензии.
                  li Для оценки ущерба от правонарушений.
                  li Для налоговой оптимизации.
                  li При добровольной ликвидации бизнеса.
                p
                  | Перечень ситуаций относительно обязательной оценки расширился более, чем вдвое. Понятно, что практически для любой манипуляции с бизнесом необходимо точное понимание, о каких суммах идёт речь. Важно понимать, с применением каких методов проводится сложная процедура оценки. Методики различные, выбор обусловлен целями собственника:
                ul
                  li При продаже компании целиком.
                  li При продаже акций на публичных торгах.
                  li При продаже доли обществу.
                  li При продаже действующего бизнеса.
                  li При продаже доп. инфраструктуры.
                  li При продаже компании на грани банкротства.
                h3 Подходы к оценке в данном случае те же, что и с недвижимостью.
                p
                  | Сравнительный подход позволит провести анализ по схожим предложениям на рынке с применением корректирующих коэффициентов. Имеет два подвида: метод компании аналога, и метод отраслевых коэффициентов. Они схожи, но второй применяется при слияниях и поглощениях. Метод отраслевых коэффициентов широко применяется на Западе и хорош тем, что использует уже готовые коэффициенты расчёта для разных отраслей.
                p.note
                  | Существенный минус сравнительного метода заключается в том, что две внешне идентичные компании, одна из которых на грани банкротства, а вторая выходит на сверхприбыли, или имеет такие перспективы, оцениваются одинаково.
                p
                  | Затратный подход изучает не внешние факторы, а бизнес изнутри и его показатели в течение времени его жизни. Здесь также два подвила: метод чистых активов и ликвидационной стоимости. Первый способ применим для купли-продажи, второй – для ликвидации, что прямо следует из названия.
                p
                  | Метод чистых активов определяет стоимость всего того, что есть на данный момент у предприятия, а также всех обязательств. При ликвидации работает тезис, что балансовая стоимость активов не соответствует стоимости рыночной, поэтому бизнес оценивается по отдельным элементам.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact