extends ../layout/main

block variables
    - var title = 'Оценка арендной ставки. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка арендной ставки - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка арендной ставки
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Самым частым договором с недвижимостью является договор аренды. Купля и продажа происходят для людей часто единожды, или раз в несколько лет, в то время как сменить арендованную квартиру или комнату можно не один раз в течение года.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/keyhole.svg" alt="Оценка арендной ставки. Независимая оценочная компания Росоценка.")
            p
            h2 Оценка арендной ставки: когда проводится и что учитывается
            p
              | Опытные рантье и квартиросъёмщики знают форму договора наизусть: в нём прописывается детально имущество, сдаваемое в аренду, полная стоимость этого имущества, размер арендной ставки и обязательства обеих сторон – сдающей недвижимость и арендующей недвижимость. Так как в данном случае речь идёт о чужом, а не о собственном имуществе, в договоре также прописывается обязательство арендатора держать в сохранности объекты аренды. Нечасто, но всё же – могут быть прописаны условия выкупа арендуемого имущества.
            h3 Что такое арендная ставка?
            p
              | Это та сумма денег, которую арендатор обязуется платить арендодателю. Периоды устанавливаются индивидуально, но наиболее частым расчётным сроком устанавливается один месяц. Обычно сдающая внаём сторона закладывает определённые сроки окупаемости, а также изучает другие предложения на рынке, чтобы вывести арендную ставку, по которой будет сдавать объект.
            p
              | Что касается арендующей стороны, то её представителям важно, чтобы ставка была ниже стоимости кредита на покупку такого объекта. Говоря простым языком, чтобы аренда не выходила дороже ипотеки.
            h3 Оценка арендной ставки
            p
              | Название процедуры говорит само за себя – оценщиком производится расчёт рыночной стоимости аренды объекта и устанавливает цену, за которую оптимально сдать недвижимость в аренду.
            h4 Важно соблюсти рыночные условия для сдачи недвижимости:
            ul
              li Объект свободен и готов быть сданным в условиях свободного рынка.
              li
                | Все стороны договора информированы об особенностях объекта, и участвуют в сделке разумно и добровольно.
              li
                | В условиях стабильного рынка аренды оценка платы не должна являться чрезмерно выгодной для арендодателя или чрезмерно обременительной для арендатора.
            p
              | Естественно, что в процессе оценки специалист также изучает аналогичные предложения на рынке, но в его компетенции также отсеивать те варианты, где арендодатель совершенно необоснованно существенно завышает или занижает стоимость, а также те случаи, когда арендатор и арендодатель состоят в каких-либо связях (например, родственных).
            p.note
              | Существует так называемы период экспозиции – это время, проходящее от выставления объекта в аренду и до заключения договора с арендатором. Экспертом также учитывается, был ли срок оптимален для того, чтобы максимальное количество потенциальных арендаторов ознакомились с предложением, а также согласовали размер ставки и условия договора.
            p
              | «Росоценка» поможет определить арендную стоимость объекта для любых целей: непосредственно оформления договора аренды или его продления, определения максимальной выгоды и оптимальной цены аренды, рекомендаций по смене помещения и так далее.
            h3 Какие факторы влияют на стоимость аренды?
            p
              | При определении стоимости аренды учитываются примерно те же параметры и аспекты, которые играют роль при цене покупки или продажи. В первую очередь это территориальное расположение, а также инфраструктура, транспортная и пешеходная доступность, квадратура (площадь), назначение помещений (относится к коммерческим), инженерные и прочие коммуникации и общее состояние объекта.
            p
              | Оценка совокупности этих факторов позволяет вывести оптимальную сумму, за которую можно предоставить в аренду или арендовать тот или иной объект недвижимости.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Название процедуры говорит само за себя – оценщиком производится расчёт рыночной стоимости аренды объекта и устанавливает цену, за которую оптимально сдать недвижимость...”
            p.author
              | — 
              span Надежда Мартьянова
              | , 
              span Генеральный директор
    