extends ../layout/main

block variables
    - var title = 'Оценка недвижимости. Независимая оценочная компания «Росоценка».'
    - var name = "ocenka"
    - var desc = "Оценочная компания «Росоценка» в Екатеринбурге профессионально оценит стоимость квартиры, дома, земли. Оценим бизнес и другие объекты."

block content
    section.templateux-hero(data-scrollax-parent="true")
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка недвижимости
            a.go-down.js-smoothscroll(href="#next")
    section.templateux-section#next
      .container(data-aos="fade-up")
        include ../modules/ocenkan_sq
        row
    section.templateux-section#second  
      .container(data-aos="fade-up")
        
          .row.justify-content-end
            .col-md-9
              p.doublesize
                | Навскидку мало кто назовёт точную стоимость собственной недвижимости, причём не важно, идёт речь о квартире или промышленном здании, находящимся во владении.
          .row.justify-content-center     
            .col-md-3.sidebar-box
              p 
               ul.sidelink
                li 
                 a(href='../ocenkajn/') Оценка жилой недвижимости
                li
                 a(href='../ocenkakn/') Оценка коммерческой недвижимости
                li 
                 a(href='../ocenkaas/') Оценка арендных ставок 
                li
                 a(href='../ocenkazu/') Оценка земельных участков
                li
                 a(href='#') Оценка производственных комплексов
                
              // include ../modules/ocenka_tree

            .col-md-9
              img.img-fluid(src="../img/svg/man_lamp.svg" alt="Оценка недвижимости. Независимая оценочная компания Росоценка.")
              p
              | Для определения цены объекта требуется оценка, являющая собой сложный технический процесс. Требования к оцениванию жилой или нежилой недвижимости, а также прочих объектов, прописаны в законе. В результате комплекса мероприятий заказчик узнаёт рыночную стоимость, по которой недвижимость может быть продана или куплена.
            
              h2 Оценивание происходит по принципу:
              ol
                  li Уровень эффективности использования объекта – чем больше, тем выше цена.
                  li Внешний вид имущества и его состояние.
                  li Стоимость всех элементов, входящих в понятие имущества. После проведения исследования данные переменные складываются.
                  li Аналогичные предложения на рынке.
                  li Перспективы, возможные для объекта недвижимости в будущем (застройка в округе, развитие инфраструктуры и т.д.)
              p
                | Сделать стопроцентно верные выводы по данным критериям способен только квалифицированный эксперт, исходя из чего оценка доверяется профессионалам. Человек без опыта и квалификации не способен произвести оценку должным образом.
              p.note
                | Оценка производится по двум причинам: если собственник или потенциальный покупатель хочет узнать стоимость объекта (добровольно), или же если происходит передача имущества в наследство, в процессе приватизации или при иных процессах (принудительно). 
              p 
                | Методы оценки также подразделяются на два: массовая и индивидуальная. В первом случае оценивается сразу ряд объектов с применением статистических данных, во втором же один объект оценивается с применением ряда методик расчета.
              h3
                | По итогам оценки можно узнать стоимость объекта по нескольким видам:      
              ol
                  li Рыночная – наиболее объективный и обоснованный показатель.
                  li Инвестиционная – учитывается привлекательность на будущее, при вложениях сегодня.
                  li Определяющая налог – требуется для расчёта налогооблагаемой базы.
                  li Ликвидационная – если речь идёт об обязательной продаже.
                  li Утилизационная – определяющая стоимость возведения объекта.
                  li Инвентаризационная стоимость – с учётом технических параметров имущества.
              p 
                | Нередко в рамках дополнительной оценки устанавливается кадастровая стоимость, зависящая в большей степени от рыночной ситуации. Уточнение кадастровой стоимости зависит от того, что за сделка предстоит объекту: продажа или покупка, сдача в аренду, даже составление брачного договора, благодаря которому удастся оптимально разделить имущество. Сюда же входит расчёт ипотеки и страховых платежей, имущественные судебные процессы, принятие управленческих решений руководством предприятия, которому принадлежит объект, инвестирование средств, и другие обстоятельства, при которых нужно точно знать цену объекта, включая кадастровую стоимость. 
              p
                | Становится понятно, что для любого действия с объектом потребуется провести предварительную оценку, иначе произвести хоть какой-либо из этих процессов будет попросту невозможно.
              h3
                | Возможные подходы к оценке:
              ol
                  li Затратный – анализ всех расходов на строительство или реконструкцию объекта.
                  li Сравнительный – изучение аналогичных предложений на рынке.
                  li Доходный – с подсчётом возможной по результатам сделки прибыли.
              p 
                | Каким бы ни был подход, обязательно учитывается тип объекта, его характеристики и полнота сведений, которые имеются о данной недвижимости.
              h3 Поэтапно оценка происходит следующим образом:
              ol
                  li Выбор независимого оценщика. Крайне желательно найти проверенного специалиста и обращаться в организации с репутацией, чтобы не понести убытки из-за неправильного выбора.
                  li Согласование условий проведения оценки и подготовка документов: здесь потребуется свидетельство о собственности и документация, устанавливающая права на неё. 
                  li Утверждение договора, включающего сроки процедуры и её цену.
                  li Работа эксперта на объекте: осмотр, фотографирование, составление документов.
                  li Аналитическая работа, включающая в себя полные расчёты и анализ рынка.
              p  
                |  Продукт, который на выходе получает заказчик – акт оценки с запрашиваемой информацией по объекту, который также можно применять в разных целях – документ имеет юридическую силу. 
      
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
              
