extends ../layout/main

block variables
    - var title = 'Оценка транспортных средств. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка транспортных средств - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка транспортных средств
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Сделок с движимым имуществом огромное множество, что делает оценку транспортных средств, пожалуй, самой востребованной из всех оценочных услуг.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/wheel.svg" alt="Оценка коммерческой недвижимости. Независимая оценочная компания Росоценка.")
            h2 Оценка транспортных средств: когда заказывать и для чего нужна
            p
              | Современная Россия продвинута в вопросе личного транспорта населения. В крупных развитых городах семьи зачастую имеют не только по одному, но и по два и более личных автомобиля. Также в разных регионах популярны дополнительные виды транспорта, применяемые в особых условиях, вроде снегоходов, гидроциклов и т.д.
            p
              | Сделок с движимым имуществом огромное множество, что делает оценку транспортных средств, пожалуй, самой востребованной из всех оценочных услуг. Оценке, при этом, подлежит любой вид транспортных средств, будь то:
            ul
              li
                | Легковой транспорт – это легковые машины и мотоциклы, гражданские автомобили всех типов кузовов, будь то внедорожники, седаны, хэтчбэки, кроссовые и дорожные мотоциклы и т.д.
              li Коммерческий автотранспорт – авто для грузовых и пассажирских перевозок.
              li
                | Спецтехника – самый широкий спектр инструментов для строительства, монтажных работ, ремонтных или восстановительных работ, и т.д.
              li
                | Воздушный транспорт – хоть гражданская авиация и не сильно развита, тем не менее, данный вид оценки тоже имеет место быть и пользуется ограниченным, но спросом.
              li Водный транспорт – актуально для курортных и приморских регионов.
              li Железнодорожный транспорт.
            p.note
              | Интересный факт, известный не всем: согласно законам РФ, водный и воздушный транспорт проходит государственную регистрацию, и относятся к объектам недвижимости. И в рамках оценочной деятельности возникает небольшое расхождение, так как оценивается такая недвижимость как отдельная категория транспортных средств – такой парадокс.
            p
              | Говоря о методах, при оценивании воздушных или морских судов применяется симбиоз оценки движимого и недвижимого имущества. Так или иначе, для того, чтобы корректно оценить транспортное средство, потребуется:
            ul
              li
                | Во-первых, просто осмотреть транспорт и идентифицировать имеющиеся номера (VIN, регистрационные, номер кузова или шасси).
              li
                | Проверить общее состояние и определить текущие физические характеристики – износ в результате эксплуатации, амортизация как самого транспорта, так и его узлов и деталей.
              li Сравнение с аналогичными предложениями на рынке.
            p
              | Наиболее правильным и действенным способом при оценке автотранспорта или иного транспорта является сравнительный. Проще и точнее всего установить стоимость ТС, ознакомившись с аналогичными предложениями и уточнив состояние товара, предлагаемого за эти деньги.
            p
              | Оценка транспорта нужна в случае, если ТС будет: продаваться, разделено в результате имущественного спора, использоваться в качестве залога под кредит, при передаче транспорта в аренду, оформлении наследования или дарения, расчёта таможенной пошлины, определении причинённого в ДТП ущерба, страхового случая, приватизации, продано на аукционе, передано в доверительное управление, определении суммы страхового взноса.
            p
              | У юридических лиц имеются отдельные поводы для проведения оценки, будь то ликвидация или обновление автопарка, также получение кредита в банке, таможенные процедуры при въезде автомобилей в Россию, формирование уставных средств предприятия, страхование или купля-продажа, постановка на баланс и снятие с баланса организации, лизинг.
            p
              | Оценка транспортного средства может проводиться также по решению суда, например, если речь идёт об изъятии транспортного средства должника за неуплату налогов или алиментов.
            p
              | У транспортного средства есть не только рыночная стоимость, но и некоторые другие разновидности цены:
            ul
              li Восстановительная.
              li Таможенная.
              li Рыночная – первичная продажа и вторичный рынок.
              li Остаточная стоимость.
              li Страховая.
              li Стоимость ремонта транспортного средства.
              li Ущерба от повреждений.
            p
              | Ранее мы упомянули, что надежным методом при бытовой оценке гражданского авто (не коммерческий транспорт) является метод сравнительный. Однако при оценке транспорта также применимы затратный и доходный, высчитывающие возможную прибыть и возможные потери при владении ТС.
            p
              | Что до сроков оценочной работы, то чем сложнее ТС, тем больше времени займут процедуры. Самолёты, вертолёты и водный транспорт может оцениваться несколько недель, в то время как гражданский авто можно оценить и за один день.
            p
              | Оценка ТС после аварии проводится по нормативам завода-изготовителя. Отсюда следует, что провести корректную оценку транспорта после столкновения или иной аварии способен лишь высокоуровневый и квалифицированный эксперт, который может выявлять скрытые повреждения.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Собственникам, или лицам, заинтересованным в приобретении объекта, необходимо иметь представление о его текущей стоимости.”
            p.author
              | — 
              span Надежда Мартьянова
              | , 
              span Генеральный директор
    