extends ../layout/main

block variables
    - var title = 'Оценка жилой недвижимости. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка жилой недвижимости - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка жилой недвижимости
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Самая житейская оценка, не затрагивающая коммерческие интересы, это оценка жилой недвижимости. 
              | Её может <a href="../contact/">заказать</a> любой собственник жилья, ключевой для отчёта в таком случае будет рыночная стоимость объекта. 
              | Кроме того, это самая распространённая и часто заказываемая оценочная услуга.
        .row.justify-content-center     
          .col-md-10
            p
            | Основной причиной, по которой жилую недвижимость оценивают чаще других, служит развитие рынка ипотечного кредитования. 
            | Все то многообразие объектов жилой недвижимости нуждается в оценке при купле, продаже, покупке в ипотеку и других денежных операциях вплоть до кредита под залог недвижимости.
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Оценка жилой недвижимости. Независимая оценочная компания Росоценка.")
          
            h2 Жилая недвижимость оценивается по трём направлениям:
            ol
              li Стоимость квартиры – самое очевидное, определение рыночной стоимости квартиры в многоквартирном доме. Также самая частая услуга, поскольку подавляющая часть населения России проживает именно в таком типе жилья.
              li Оценка доли или комнаты – более сложная оценка, в ходе которой отдельно оценивается часть объекта. 
              li Оценка индивидуальных жилых домов и коттеджей – название говорит за себя, оценщик определяет стоимость загородной недвижимости или жилого дома в городской черте. 
            p
              | Цели определения стоимости жилой недвижимости также разнятся. В первую очередь, оценка требуется владельцам жилых помещений при продаже или покупке объекта. Реже оценку заказывают при вступлении в наследство или приватизации, а также разделения имущественных долей или страхования объекта. 
            p При определении цели выбирается метод оценки, которые, как и в случае с коммерческой недвижимостью, подразделяются на три:
            ol
              li Рыночный метод.
              li Ликвидационный метод.
              li Инвестиционный метод.
            p
              | Процедура проводится в соответствии с письменным заданием на оценку, и по нему определяют стоимость любого объекта, будь то квартира, доля в ней, подсобное помещение или отдельный особняк с прилегающей территорией. 
            p.note
              | При определении цены в учёт идёт также рыночная стоимость права собственности, либо других прав, будь то аренда или права собственности. Зависит от того, какие права применены к оцениваемому объекту.
            p Первостепенную роль в оценке жилой недвижимости играют те же факторы, что и при оценке любых других типов объектов:
            ol
              li Расположение – включая город, район, инфраструктуру и транспортную доступность.
              li Характеристики и параметры: количество этажей дома или этаж, на котором находится квартира, квадратура, количество комнат, высота потолка и внутренняя отделка, состояние объекта и его износ, и так далее.
              li Общее состояние здания: тип объекта, его возраст, материалы постройки, техническое оснащение, наличие инженерных коммуникаций, стоянка и т.д. 
            p
              | Проводить такого рода оценку могут только высококвалифицированные эксперты. Не стоит доверять сомнительным организациям, которые в интернете предлагают провести оценку бесплатно или по низкой стоимость – так как процедура сложная и комплексная, она в любом случае высоко оплачивается, и если не хотите потерять деньги, обратитесь в компанию с репутацией.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Процедура проводится в соответствии с письменным заданием на оценку, и по нему определяют стоимость любого объекта, будь то квартира, доля в ней, подсобное помещение или отдельный особняк с прилегающей территорией.”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор