extends ../layout/main

block variables
    - var title = 'Оценка ущерба. Заказать в независимой оценочной компании Росоценка.'
    - var name = "ocenka"
    - var desc = "Оценка ущерба - оценочная компания «Росоценка» в Екатернбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оценка ущерба
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Оценка
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >1 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Для того, чтобы пострадавшей стороне была выплачена корректная компенсация, необходима оценка ущерба.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Оценка ущерба. Независимая оценочная компания Росоценка.")
            
            h2 Оценка ущерба: виды и особенности
            p
              | Большинство видов оценочной деятельности похожи друг на друга применяемыми в работе методами. Что же до оценки ущерба, то это – особый процесс, хотя бы потому, что сильно отличается от иных видов оценки. Расчёт ущерба предполагает оценивание не объекта, а причинённого ему вреда – соответственно, речь идёт о совсем ином подходе к задаче.
            p
              | Из названия понятно, что оценка ущерба требуется, если пострадало имущество. Бывают прозрачные ситуации, когда сломан или уничтожен предмет с конкретной ценой – если речь, например, идёт о новой вещи. Но если пострадал предмет с неизвестной на данный момент времени стоимостью, или же сразу несколько объектов, то для определения точной компенсации требуется произвести оценку – какая сумма от стоимости была потеряна в результате причинения вреда.
            p
              | При этом не важно, пойдёт дело в суд, или же стороны пойдут на мировую – чтобы пострадавшей стороне была выплачена корректная компенсация, необходима оценка ущерба. Не имея на руках заключения независимого эксперта-оценщика, доказать свои права будет нереально. К слову, это ещё и отличный инструмент для споров со страховыми компаниями, если ущерб был причинён застрахованному имуществу.
            p
              | Сложность работы при такой оценке заключается ещё и в том, что, помимо специальных знаний, эксперт должен обладать ещё и обширным опытом оценочной деятельности. Не имея данного заключения, доказать свои права на компенсацию практически невозможно.
            h3 Виды ущерба, подлежащие оценке:
            ul
              li От умышленных и неумышленных действий третьих лиц.
              li В результате пожара в результате поджога или возгорания.
              li В результате потопа или залива.
              li Преступные действия, такие как ограбление или кража, разбой.
              li Повреждение имущества на производственной аварии.
              li Ущерб имуществу от несчастного случая.
              li Полученный при обстоятельствах непреодолимой силы.
              li При изъятии имущества для гос. нужд.
              li При изъятии по судебному решению.
              li Ущерб транспорту в результате дорожно-транспортного происшествия.
              li При страховом случае.
              li При стихийном бедствии.
              li При незаконном использовании интеллектуальной собственности.
            p
              | Помимо того, что эксперт должен быть достаточно квалифицированным и опытным, проведение оценки ущерба несколько осложняется ещё и объёмами бюрократии. Для различных случаев потребуются свои бумаги и документы.
            p
              | В случае, <a href="../autotovar/">если произошло ДТП</a>, необходимо иметь копии: техпаспорта и справки из ГИБДД о происшествии.
            p
              | В случае затопления квартиры необходимо собрать копии: акта об аварии из ЖЭК, при наличии – дефектной ведомости, документов о собственности, плана дома.
            p
              | Если произошёл пожар и пострадало имущество, необходимо получить копию акта о пожаре в противопожарной службе, список имущества, пострадавшего в огне, и документы на собственность на те вещи, которые пострадали (включая помещение), а также поэтажный план и паспорт БТИ.
            p
              | Списки, приведённые выше, носят лишь приблизительный характер, и на деле могут отличаться в зависимости от конкретного индивидуального случая.
            p  

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Сложность работы при такой оценке заключается ещё и в том, что, помимо специальных знаний, эксперт должен обладать ещё и обширным опытом оценочной деятельности.”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор