extends ../layout/main

block variables
    - var title = 'Переоценка основных средств. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Переоценка основных средств - оценочная компания «Росоценка» в Екатеринбурге"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Переоценка основных средств
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-4
                span.caption Раздел
                strong Оценка
              .col-md-4
                span.caption Где
                strong Территория России
              .col-md-4
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Раз в год предприятие может производить переоценку объектов основных средств по текущей стоимости. Вместе с этим производится подсчёт начальной стоимости, а также оценка амортизации.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/arrow.svg"  alt="Переоценка основных средств. Независимая оценочная компания Росоценка.")
            p
              | Из совокупности показателей выводится восстановительная стоимость – по сути, это закупочная цена объекта/предмета основных средств, указываемая в бухгалтерских документах в случае, если требуется его замена.
            p
              | Данный вид оценки требуется организациям, для которых основные средства – важная, если не большая, часть активов. Основная цель процедуры переоценки – установить текущую стоимость основных средств предприятия, и сопоставить с предлагаемой на данный момент рыночной ценой аналогичных объектов, а также «условиями воспроизводства», то есть совокупной ценой восстановления, если таковая потребуется.
            p
              | В условиях свободного рынка совокупная цена имеющихся у организации ОС может как повышаться, так и понижаться в зависимости от рыночных колебаний. Чистые активы, соответственно, могут дорожать или дешеветь в зависимости от ситуации на рынке.
            p
              | Напротив, при дооценке основных средств вырастает сумма амортизационных отчислений, что, в свою очередь, повышает себестоимость производимого продукта, либо товаров и услуг. Таким образом происходит снижение бухгалтерской прибыли компании.
            p
              | В случае первичной переоценки ОС организацией, результат дооценки активов подлежит зачислению в добавочный капитал организации. За счёт этого происходит прирост к разделу «капиталы и резервы». Если по итогам проверки происходит уценка основных средств, итоги проверки причисляют к «прочим расходам текущего периода». Уценки при будущих проверках при наличии добавочного капитала подлежат вычету из него.
            p
              | Если уценка основных средств опережает дооценку, зачисленную в добавочный капитал, это отражается в «прочих доходах и расходах». Если же дооценённый объект выходит с баланса компании, то сумма его дооценки исключается из добавочного капитала и переходит в нераспределённую прибыль.
            p
            h3 Способы переоценки основных средств
            p Согласно методическим указаниям, имеется два метода для переоценки ОС.
            ul
              li
                | Индексный метод, при котором переоценка происходит путём индексации стоимости всех объектов основных средств компании. Примечательно, что при выборе данного метода компании придётся самостоятельно определять индексы для подсчётов, что довольно трудозатратно и требует определённых компетенций от сотрудников. Впрочем, за этим организация также может обратиться в НИИ статистики Федеральной службы государственной статистики.
            
            ul
              li
                | Метод прямого пересчета по документально подтвержденным рыночным ценам – простой и говорящий за себя метод, когда стоимость балансовых объектов просто устанавливается в соответствии с текущей рыночной ценой.
            
            p
              | Для того, чтобы обосновать рыночную стоимость объектов основного баланса документально, при прямом пересчете применяют:
            ul
              li Данные о ценах на подобную продукцию, заявленную компаниями-производителями.
              li Сведения об уровне цен по статистике Росстата или торговых инспекций.
              li Информацию о ценах из СМИ и спецлитературы.
              li Отчёты оценщиков о ценах объектов ОС.
            p
              | Самым надёжным и объективным способом будет заказ оценки у соответствующих экспертов.
            p
              | Важно: отчёт об оценке ОС, составленный в целях переоценки, должен иметь указание на то, что переоценка была конечной целью проводимой процедуры, как и отражение данных в бухгалтерском учёте.
            p
              | Для прочих целей – продажи, залога, привлечения инвестиций и т.д., отчёт для переоценки не может быть использован – это также подтверждает судебная практика.


    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
            
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Подобного рода оценка требует широких экономических и финансовых познаний от эксперта”
            p.author
              | — 
              span Евгений Тутов
              | , 
              span Генеральный директор
    