extends ../layout/main

block variables
    - var title = 'Оспаривание кадастровой стоимости недвижимости. Независимая оценочная компания Росоценка.'
    - var name = "ocenka"
    - var desc = "Оспаривание кадастровой стоимости недвижимости"

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Оспаривание кадастровой стоимости недвижимости
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Оценка
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >20 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              | Оценка Росреестра не всегда оказывается оправданной, и нередко выявляется её завышение.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Оспаривание кадастровой стоимости недвижимости. Независимая оценочная компания Росоценка.")
                     
            h2 Оспаривание кадастровой стоимости недвижимости
            p
              | Любой объект недвижимости, будь то квартира, участок земли или особняк, имеет свою кадастровую стоимость. По сути, кадастровая цена – это производная от государственной оценки, которая предельно приближена к рыночной цене недвижимости, но может колебаться в большую или меньшую сторону.
            p
              | Небольшой «разброс» связан с выведением показателя через массовую оценку, предоставляющую лишь усреднённый показатель. Государственные кадастровые оценщики исследуют недвижимость сразу скопом, и в итоге их работы высчитывается ставка по налогам и аренде, а также всевозможные государственные пошлины для операций с недвижимостью.
            p
              | Понятно, что чем выше по итогам оценки окажется показатель кадастровой стоимости тем больше придётся выплачивать всевозможных налогов и пошлин.
            p
              | Ввиду того, что массовый метод не предполагает высокой точности, оценка Росреестра не всегда оказывается оправданной, и нередко выявляется её завышение. Чтобы данный показатель оспорить, следует воспользоваться услугами независимого эксперта-оценщика, и действуя далее через суд или комиссию в Росреестре.
            h3 Зачем оспаривать кадастровую стоимость
            p
              | Первоочередная цель, как следует из текста выше - снизить налоговую нагрузку и выплаты. Всего согласно российским законам провести оспаривание можно двумя способами:
            ol
              li Через Комиссию непосредственно в Росреестре.
              li Через судебный процесс с услугами эксперта.
            p
              | Существует несколько оснований для такого оспаривания: если нет полной информации об объекте, из-за чего стоимость была рассчитана некорректно, или же если рыночная стоимость определялась датой вычисления кадастровой стоимости.
            h3 Как проходит оспаривание
            p
              | Эксперты-оценщики проводят процедуру в несколько шагов. В первую очередь, это непосредственно оценка, за которой следует отправка сформированных отчётов в СРО оценщиков за заключением на отчёт.
            p
              | Также оценщики проводят консультации по самому оспариванию кадастровой стоимости, и сопровождают заказчика до непосредственно внесения обновлённых данных в государственный кадастр недвижимости.
            p
              | После получения данных, орган кадастрового учёта в течение 10 рабочих дней вносит обновлённые данные в кадастр.
            h3 Цены и сроки оспаривания кадастровой стоимости
            p
              | Прежде, чем начать работу по оспариванию, специалисты первоначально <a href="../contact/">проводят консультацию</a> и взвешенно оценивают перспективы процедуры в целом применимо к объекту. Таким образом просчитывается экономическая обоснованность иска, оцениваются все расходы, которые также понесёт заказчик (включая госпошлину и оплату экспертиз), и те риски, с которыми также может столкнуться оспаривающая сторона в процессе.
            p
              | Важно заранее обозначить сроки и суммы, которые индивидуально устанавливаются в зависимости от ситуации. Оба эти показателя зависят, по большей части, от объёма работ, которые предстоит выполнить специалисту.
            p
              | Непосредственно после проведения оценки следует передача отчётных документов и внесение новой кадастровой стоимости, после чего заказчик подписывает акт выполненных работ.
            p
              | Причинами для отказа внесения обновлённых данным могут служить неполный пакет предоставленных документов, или же близость кадастровой стоимости к рыночной цене объекта.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Первоочередная цель услуги - снизить налоговую нагрузку и выплаты.”
            p.author
              | — 
              span Надежда Мартьянова
              | , 
              span Генеральный директор