extends ../layout/main

block variables
    - var title = 'Почерковедческая экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Экспертиза подписи в Екатеринбурге. Экспертная организация «Росоценка» проверит подлинность подписи на документах, договорах, сделках."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Почерковедческая экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                a.strong(href='#', data-toggle='popover', data-trigger="focus", data-placement='bottom')  >10 000 руб. за объект
                
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Одна из самых распространённых криминалистических экспертиз – почерковедческая. Многие преступления, особенно мошеннические махинации, связаны с подделкой подписей или подчерка, и данный вид экспертизы устанавливает подлинность рукописного текста или кратких записей и росчерков.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="почерковедческая экспертиза. Независимая экспертная компания Росоценка.")
            p
              | Почерковедческая экспертиза применяется в следственной практике для решения розыскных и идентификационных задач, а также способствует более скорому разрешению судебных споров. Данная экспертиза может выполняться как для правоохранительных органов (суд, прокуратура, ОВД, таможенный контроль, налоговая полиция), так и для частных лиц.
            h3 Наши эксперты предлагают вам следующие услуги:
            ol
              li Консультации по оригиналам и копиям документов.
              li Почерковедческая экспертиза подписей, записей
              li Экспертиза записей с цифровой аппаратуры
              li Предварительное исследование оригиналов и копий документов.
              li Почерковедческая экспертиза рукописных текстов.
            h3 Характеристика криминалистической экспертизы:
            p
              | В почерковедческую экспертизу входят исследования почерка для идентификации по таким общим признакам как состояние исполнителя, его личные свойства, и частным, которые говорят о поле исполнителя, месте нахождения исполнителя, его позе при письме, психологическом состоянии, например, состоянии возбуждения, страха, опьянения и пр. Почерковедческая экспертиза устанавливает авторство текста (как рукописного, так и печатного), а также факты подделки документов с помощью идентификации личности и сопоставления признаков документа с учётом того, что автор мог умышленно исказить почерк, чтобы скрыть известные ему факты.
            p
              | Почерковедческая экспертиза решает такие вопросы как идентификация личности автора подписи или иных записей, установление факта о выполнении подписи, записи одним или некоторым количеством лиц, установление факта создания рукописного текста одним или некоторым количеством лиц.
            h3 Наши эксперты установят:
            ul
              li
                | исполнителя по подписи, короткой записи, рукописи разного объема, констатировав факт выполнения данной подписи одним или некоторым количеством лиц, с учётом возможного подражания или умышленного искажения почерка.
              li
                | в каких условиях была выполнена подпись, запись или рукописный текст, определив наличие или отсутствие факторов, мешающих установлению истины, так называемых «путающих» факторов.
              li факт наличия автоподлога;
              li устойчивые признаки письма и свойств написания для дел по письмам-угрозам
              li пол исполнителя по текстам любого объема;
            p
              | Объектом исследования данной экспертизы являются разные виды документов: расписки, договора, доверенности, завещания, письма-угрозы, а также письма, унижающие честь и достоинство. Почерковедческая экспертиза также исследует и другие документы, подлинность которых может подвергнуться сомнению – дневниковые записи, финансовые и бухгалтерские документы, рецепты и медицинские карты и пр.
            h3 Для независимой экспертизы почерка необходимо предоставить:
            ol
              li
                | Документ с подписями, подвергающимися сомнению. При отсутствии оригинала экспертам предоставляется копия в хорошем качестве
              li Образцы почерка или подписи проверяемого лица, такие как
              ul
                li Свободные (сделанные ранее в дневниках, анкетах, заявлениях и пр.);
                li
                  | Условно-свободные (сделанные во время проверяемого события, но не для проведения экспертизы);
                li Экспериментальные (сделанные специально для экспертизы почерка).
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Специалистами Росоценки используются все современные исследовательские методики.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт
   
    #popover-content(style='display: none')
      ul.list-group.custom-popover
        li.list-group-item Объект:
        li.list-group-item одна подпись, апостроф
        li.list-group-item = 10 000 руб.
