extends ../layout/main

block variables
    - var title = 'Пожарно-техническая экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Пожарно-техническая экспертиза в Екатеринбурге. Экспертная организация «Росоценка» исследует причины и последствия пожаров и составит экспертное заключение."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Пожарно-техническая экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >10 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Огонь – одно из самых разрушительных явлений, но даже в ситуации, когда объект, будь то автомобиль или здание, выгорает полностью вместе со всем, что было внутри, остаётся реальным определить причины возгорания.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Пожарно-техническая экспертиза. Независимая экспертная компания Росоценка.")
              h2 Пожарно-техническая экспертиза: причины и последствия пожаров
              p
                | Обычно пожарно-техническая экспертиза, позволяющая определить очаг пожара, назначается судом. Иногда её запрашивают пострадавшие от пожара лица или иные стороны, вовлечённые в процесс, связанный с ущербом от огня. Специалисты данной области устанавливают обстоятельства, при которых произошло возгорание, определяют, как именно развивался пожар, и в какой момент и при каких условиях произошло его затухание.
              p
                | Для суда наиболее важно установить именно причины пожара, так как определив их, можно определить, кто виновен в произошедшем. Ответственность за произошедшее, как и компенсация материального и морального вреда, возлагаются на виновника происшествия.
              p
                | Есть и исключения, когда в возгорании виноваты не только, например, поставщики ненадежного оборудования, которое загорелось из-за короткого замыкания, но и лица, ответственные за противопожарную безопасность на объекте. Отметим, что в случае пожара ответственные за объект люди могут понести наказание вплоть до уголовного, так как в связи с их поведением в данной ситуации могут пострадать люди или материальные ценности, находящиеся на объекте.
              p
                | Специалистов пожарно-технической экспертизы интересуют все факторы, влияющие на распространение пламени. Изучается всё, что связано с механизмом горения: наличие и расположение горючих материалов в зоне пожара, как, откуда и в каких объёмах поступал воздух, дающий огню разгореться, где находились потенциальные источники зажигания и так далее. Сопоставив все факторы, эксперты устанавливают признаки места возникновения горения и его дальнейшего распространения по зоне.
              p
                | Первое и основное, в чём нуждается эксперт – доступ на место пожара. Судебная это экспертиза, или же заказ независимого специалиста кем-то из заинтересованных лиц, всегда в первую очередь необходимо дать профессионалу ознакомиться с местом пожара, чтобы он смог зафиксировать признаки очага возгорания, механику распространения огня и то, как проводилось тушение объекта. Если это досудебная экспертиза, приложенные материалы сыграют свою роль уже непосредственно на суде, будучи приложенными к делу.
              p
                | Понятно, что, говоря о пожарах, подразумеваются не только здания и иные объекты недвижимости – гореть могут и транспортные средства. Чаще всего в случае возгорания автомобиля требуется комплексная экспертиза, так как мало выяснить, в каком именно месте загорелся авто, но и нужно установить потерю стоимости, оценить ущерб, определить, из-за какой неисправности в самом автомобиле могло возникнуть пламя и т.д. В сложных ситуациях с комплексным исследованием специалисты пожарно-технической экспертизы работают вместе с автотехническими специалистами.
              p
                | Как и в случае с другими исследованиями, пожарно-техническая экспертиза не ограничивается изучением места пожара. Специалист отдельно запрашивает техническую документацию на сгоревший или пострадавший от огня объект, а также материалы и сведения об обнаружении огня, его распространении и тушении.
              p
                | Помимо этого, изучаются разного рода сторонние факторы, которые не имеют прямого отношения к пожару, однако могли на него повлиять, а также проводится моделирование самого процесса пожара и горения. Поэтому, готовясь к данной экспертизе, следует собрать максимум информации и материалов о пожаре, его развитии и локализации, и всех действиях, предпринятых накануне.
              p
                | Специалисту стоит задавать вопросы о местоположении очага возгорания, горении различных материалов в определённых условиях, возможных деформациях материалов и компонентов под термическим воздействием, и иные вопросы, связанные с расположением огня и повреждениями от него.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Пожарно-техническая экспертиза не ограничивается изучением места пожара.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт