extends ../layout/main

block variables
    - var title = 'Техническая экспертиза документов. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Экспертиза документов в Екатеринбурге. Экспертная организация «Росоценка» проводит техническую экспертизу договоров, сделкок и других документов."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Техническая экспертиза документов
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                a.strong(href='#', data-toggle='popover', data-trigger="focus", data-placement='bottom')  >10 000 руб. за объект
                
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Одной из классических и весьма распространённых видов судебных криминалистических экспертиз является техническое исследование документов. Ведь порой мало установить почерк и подлинность подписи – иногда следует разобраться, когда, как, и в каких условиях создавался тот или иной документ, задействованный в совершении преступления.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Техническое исследование документов. Независимая экспертная компания Росоценка.")
            p
              | Порой детали обстоятельств такого рода становятся ключевыми факторами и главными доказательствами как в гражданских, так и в уголовных процессах. Иногда то, как именно были изготовлены документы, может перевернуть дело полностью.
            p
              | В ходе исследования специалист изучает реквизиты и материалы, используемые в документации. В процессе эксперт анализирует:
            ul
              li Подписи, сделанные от руки.
              li Записи в документах.
              li Печати и штампы, их оттиски и т.д.
              li Изображения.
            p
              | В исследовании документации специалисты заходят дальше, чем простое изучение материалов. Они также исследуют бумаги, чернила, разного рода вспомогательные и расходные материалы, использованные при подготовке документов.
            h3 Что исследует экспертиза документов
            p
              | Частично в тех. исследование документов входит почерковедческая экспертиза, также специалист устанавливает, как давно создавался тот или иной документ. Проверка затрагивает штампы и оттиски, рукописи и печатные тексты. Устанавливают даже порядок исполнения реквизитов и изменения от первоначального содержания, если таковое удаётся установить.
            p.note
              | Содержание, подлинность документа – это ещё не всё. В случае, если требуется узнать максимум подробностей о той или иной бумаге, необходимо ходатайствовать о проведении экспертизы документа в рамках судебного процесса. К документу прикладывается согласие экспертной организации на проведение экспертизы.
            p
              | Главные цели, которые обычно ставятся перед экспертом – провести идентификацию печатей, подписей и технических средств, применённых при создании документа, вплоть до оргтехники. Также определяется способ, которым были изготовлены бумаги: метод нанесения символов (текста), оттиски печатей и подписей, имел ли место монтаж. Интересный аспект, который также исследует эксперт – наличие или отсутствие невидимых элементов (надписи невидимыми чернилами, например).
            h3 Когда требуется техническая экспертиза документов
            p
              | Если у человека возникают сомнения относительно действительности и достоверности документа, который имеет определённые юридические последствия, стоит обратиться за экспертизой – возможно, этих самых последствий удастся избежать.
            p
              | К досудебной экспертизе стоит прибегнуть в случае, если нет уверенности, что экспертиза потребуется и будет целесообразна уже далее, в судебном порядке. Также досудебная техническая экспертиза документа позволит составить доказательную базу.
            p
              | Весьма часто к исследованию прибегают в делах с договорными отношениями: если между физлицами или юр.лицами был заключён договор, который одна из сторон считает некорректным и не хочет выполнять по нему обязательства. Также гражданские дела затрагивает вопросы наследства, бракоразводные процессы и так далее.
            p
              | Уголовная сфера чаще касается мошенничества, хищения, подделки финансовых документов и пр.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Основная задача ТЭД – провести идентификацию печатей, подписей и технических средств применяемых для создания документов.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт
   
    #popover-content(style='display: none')
      ul.list-group.custom-popover
        li.list-group-item Объект:
        li.list-group-item один документ, вопрос
        li.list-group-item = 10 000 руб.
