extends ../layout/main

block variables
    - var title = 'Трасологическая экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Трасологическая экспертиза в Екатеринбурге. Экспертиза в которой специалисты независимой компании «Росоценка» исследуют следы оставленные на транспортных средствах."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Трасологическая экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >10 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Ещё один частый вид автотехнической экспертизы отвечает за исследование подробностей аварии. Автомобилистов огромное множество, статистика ДТП в масштабах страны содержит пятизначные числа. Не все аварии позволяют сразу и на месте установить виновника, как и не все виновники соглашаются с тем, что ДТП произошло из-за их ошибки. 
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Трасологическая экспертиза. Независимая экспертная компания Росоценка.")

            h3 Трасологическая экспертиза: по следам ДТП
            p
              | Из всех автотехнических экспертиз исследование следов от шин, называемое трасологическим, является самым узкоспециализированным и специфическим. Эксперты-трасологи исследуют не только само транспортное средство, но и оставленные им следы, получая таким образом информацию о происшествии, механику аварии и поведении её участников.
            p
              | Впрочем, в автомобиль в своей экспертизе специалисты трасологии тоже не углубляются – их интересует место контакта на корпусе авто, где именно произошло столкновение. Анализируя следы и повреждения, они делают выводы о том, как именно произошла авария вплоть до подробностей и детальных мелочей.
            p
              | В компетенцию трасологов входят следы, оставленные самыми разными видами транспорта – от автомобилей до железнодорожных вагонов и водных видов средств передвижения.
            p
              | Следы в данном контексте стоит понимать в самом широком смысле слова. Это не только следы от шин и следы от ударов на автомобиле, это также детали или жидкости, оставленные транспортным средством на дороге или водной поверхности после столкновения.
            p
              | Трасологическая экспертиза, таким образом, охватывает исследование следующих объектов:
            ul
              li Транспортные средства и следы на них.
              li Дорожное покрытие.
              li Одежда и тело человека.
              li Ограждения, знаки и иные предметы дорожной инфраструктуры.
            p
              | Эксперт-трасолог потребуется в ситуации, если после ДТП страховая компания упирается и не выплачивает причитающуюся компенсацию. Впрочем, актуальна и обратная ситуация, при которой участник аварии хочет завысить выплату по факту ДТП, предоставляя ложную информацию о нём.
            p
              | Страховым компаниям, а точнее их отделам урегулирования убытков, важно понимать, обращаются к ним по реальному ДТП, или же с попыткой выдать повреждения неизвестного происхождения за страховой случай. Рост мошенничества обусловлен тем, что страхование автоответственности в России обязательное, и желающих заработать денег мошенническим путём также стало немало.
            p
              | Этой ситуацией коварным образом пользуются и страховые компании, которые отказывают в выплате компенсации якобы по результату «независимой экспертизы», которая, по факту, даже не проводится. Просто указывается, что полученные повреждения не могли возникнуть в результате ДТП, а всё исследование строится на основании фотографий одного из автомобилей-участников аварии.
            p
              | При этом понятно, что трасологическая экспертиза проводится непосредственно на месте. Чаще всего потребность в ней возникает, когда не получается однозначно определить виновника аварии. Экспертная практика такова, что судьи, инспекторы дорожной службы, органы дознания – все они не всегда корректно трактуют следы и определяют все обстоятельства ДТП.
            p
              | Для разбирательств в таких ситуациях и нужен трасолог. Также эксперт выручит в ситуации, если человека обвиняют в столкновении, в то время как в действительности он не виноват. Следы помогут также установить невиновность в ДТП.
            p
              | Так как автотехнические экспертизы зачастую происходят в комплексном формате: утеря товарной стоимости, экспертиза обстоятельств ДТП и так далее, то трасология логичным образом часто входит в комплекс исследований. Порой трасологам приходится работать в паре с медицинской экспертизой, если в ДТП есть пострадавшие или погибшие.
            p.note
              | Кроме того, специалистам трасологической экспертизы можно дополнительно ставить вопросы не только о следах на транспорте и дороге, но и о техническом состоянии полотна и дорожных условиях на месте аварии.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “В компетенцию трасологов входят следы, оставленные самыми разными видами транспорта – от автомобилей до железнодорожных вагонов и водных видов транспорта.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт