extends ../layout/main

block variables
    - var title = 'Видеотехническая экспертиза . Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Видеотехническая экспертиза  в Екатеринбурге. Экспертная организация «Росоценка» экспертизы записей с видеорегистратора, видеокамер и отоматериалов."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Видеотехническая экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                strong >3 000 руб.
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Один из подвидов инженерно-технической экспертизы – исследование видеоряда. Такая работа называется видеотехнической экспертизой, специалист данной области детально изучает отснятые камерами видеоролики, определяет аппаратуру, на которую производилась съёмка, делает выводы касаемо подлинности записей.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Видеотехническая экспертиза. Независимая экспертная компания Росоценка.")
              
              h2 Видеотехническая экспертиза и для чего она применяется?
              p
                | Все возможные объекты экспертизы, так или иначе, связаны с видеозаписью – это могут быть как отснятые кадры, так и видеоаппаратура, на которую производилась съемка. Области применения видеотехнической экспертизы обширны – видеоролики с момента популяризации съёмки стали неотъемлемой частью многих судебных процессов. Как правило, содержательное для дела видео – очень весомое доказательство, и в такой ситуации первым делом необходимо установить подлинность материалов.
              p
                | Большую роль в изучении видеоматериалов играет исследование аппаратуры. На сегодняшний день к видеозаписывающим устройствам относят:
              ul
                li Цифровые фотокамеры и видеокамеры.
                li Смартфоны.
                li Мобильные телефоны с возможностью съёмки видео.
                li Веб-камеры.
                li Планшетные компьютеры.
                li Видерегистраторы.
                li Камеры наружного наблюдения.
                li Иные устройства, оснащённые камерой и функцией записи видео.
              p
                | Видеотехническая экспертиза позволяет разобраться в массе различных дел, касающихся выявления контрафакта, подделки записей, споров об авторском праве. Дело в том, что в содержание видеозаписей может впоследствии быть направлено на лингвистическое или автороведческое исследование – это могут быть выступления с различным творчеством или авторскими материалами.
              p
                | Помимо этого, исследование содержания записи позволяет выявить экстремистские призывы, оскорбление чести и достоинства, деловой репутации, высказывание угроз.
              p
                strong Что определяет видеотехническая экспертиза
              p
                | В ходе исследования специалист устанавливает, в каком режиме и формате производилась видеозапись. Далее, что немаловажно, определяется наличие монтажа, и каким образом производился монтаж, если таковой присутствует в ролике.
              p
                | Определяется, имеет ли эксперт дело с оригиналом записи, или это только её копия. Если копия, то определяется её номер. Специалист определяет, на какое устройство производилась запись данного видеоматериала, в случае, если запись хранится на разных носителях – копии сопоставляются, между ними выявляются несоответствия (если таковые имеются).
              p
                | Если на анализ были предоставлены видеозаписывающие устройства, то сам видеоролик проверяется на соответствие данной аппаратуре. Также эксперт определяет параметры объектов, присутствующих в кадре.
              p
                strong Для чего нужна видеотехническая экспертиза
              p Исследование видеоряда или записывающей техники имеет четыре основные задачи.
              ul
                li Определение подлинности записи и выявление признаков монтажа.
                li Установление содержания видеоролика.
                li Определение устройства записи.
                li Определение соответствия звуковой дорожки с видеорядом.
              p
                | Первая задача может считаться основной, так как вес видеоролика как доказательства первостепенно определяется подлинностью записи. Если становится известно, что эксперт имеет дело с фальсификацией, созданной с помощью инструментов монтажа, то такая видеозапись не будет иметь значения для судебного процесса. Запись может быть подлинной, если монтаж не применялся для искажения какой-либо записанной информации, комбинированной, если монтаж присутствует в некоторой пропорции, и фальсифицированной, если ролик полностью создан для введения в заблуждение.
              p
                | Второй, не менее важный аспект, это установление содержания записи. В ходе данного процесса эксперт фиксирует присутствие на плёнке процессов и людей, а также их действия. Суду данное исследование нужно, когда требуется определить личность человека в кадре, или если происходящее на записи спорно и под сомнением.
              p
                | Анализ аппаратуры и устройств требуется, если в ходе судебного процесса возникли сомнения относительно автора видеоролика и условий, в которых производилась запись. Для этого видеоряд сопоставляют с предоставленным устройством.
              p
                | Соответствие или несоответствие звуковой дорожки также позволяет выявить наличие фальсификации в анализируемом видеоряде.
              p
                strong Правила видеотехнической экспертизы
              p
                | Для проведения корректной и точной видеотехнической экспертизы необходимо соблюдать ряд правил её проведения.
              ul
                li Правильно транспортировать объекты исследования.
                li
                  | Предоставлять оригиналы записей, зафиксированные в процессе событий видеокамерой.
                li Не хранить магнитные записи вблизи источников магнитных полей.
                li
                  | Сохранять от попадания посторонних предметов, а также воздействий пыли, грязи, жидкостей.
                li При повреждении плёнки не нужно пытаться восстанавливать её самостоятельно.
                li
                  | Устройства для записи, предоставленные на экспертизу, не нужно перенастраивать или ремонтировать.
                li Транспортировать исключительно бережно.
              p
                | При соблюдении всех вышеперечисленных правил проведенное исследование будет максимально точным и результативным, поэтому при работе с экспертом не стоит ими пренебрегать.

    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Специалистами Росоценки используются все современные исследовательские методики.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт