extends ../layout/main

block variables
    - var title = 'Землеустроительная экспертиза. Независимая экспертная компания «Росоценка».'
    - var name = "expertise"
    - var desc = "Землеустроительная экспертиза в Екатеринбурге и Свердловской области. Экспертная организация «Росоценка» проводит земельные исследования участков и их границ."

block content
    section.templateux-hero(data-scrollax-parent="true")
      
      .container
        .row.align-items-center.justify-content-center.intro
          .col-md-12(data-aos="fade-up")
            h1 Землеустроительная экспертиза
            a.go-down.js-smoothscroll(href="#next")
    
    section#next.mb-5
      .container(data-aos="fade-up")
        .row.justify-content-center
          .col-md-12
            .row.work-detail
              .col-md-3
                span.caption Раздел
                strong Экспертиза
              .col-md-3
                span.caption Где
                strong Территория России
              .col-md-3
                span.caption Соимость
                a.strong(href='#', data-toggle='popover', data-trigger="focus", data-placement='bottom')  по согласованию
                
              .col-md-3
                span.caption Связь
                strong 8 800 200-3770
        .row.justify-content-start
          .col-md-11
            p.doublesize
              |  Судебные землеустроительные экспертизы относятся к виду исследование земельных исследований, изучающих участки и их границы. Согласно букве закона, к данному виду экспертиз относят изучение параметров и характеристик земли, охрану участков, их применения, а также описанию земель и разграничению. Затрагивают исследования также аграрные и сельскохозяйственные вопросы: специалисты также могут давать ответы на вопросы по рациональному применению и ведения сельхозпроизводства.
        .row.justify-content-center     
          .col-md-10
            p.text-center.mb-5
              img.img-fluid(src="../img/svg/city.svg" alt="Землеустроительная экспертиза. Независимая экспертная компания Росоценка.")
            p
              | Данный вид экспертиз применяется в широком спектре делопроизводств: от гражданских до уголовных. Экспертизы в данной сфере применимы как при досудебной экспертизе, так и в судебном исследовании.
            p
              | Чаще всего вопросы эксперту затрагивают межевание участков конфликты вокруг самовольного строительства. Ранее в подобных случаях, если речь шла о правилах пользования сооружениями или нарушении межевания, проводилась строительная экспертиза, однако позднее землеустроительные исследования оформились в собственную категорию.
            p
              | Это связано, в первую очередь, с кардинальными различиями в областях познания, которые применяются при данных видах экспертизы. Тогда как строительные исследования опираются на механику стройки, а также её компонентов и состовляющих, СЗЭ затрагивают вопросы землеустройства, а также смежных сфер познания из экономики и технических наук.
            p
              | Строительная экспертиза изучает здания и сооружения, землеустройство же изучает соответствующие объекты, классифицированные законом.
            p
              | Полная и корректная судебная землеустроительная экспертиза требует от специалиста познания в некоторых науках, касающихся вопроса землеустройства: это это могут быть как технические, так и естественно-наунчые сферы.
            h3 Ключевые задачи СЗЭ:
            p
              | 1) Проверка состояния земли: почвы, происходящих изменений, выявляемых в том числе с применением ботанических исследований.
            p 2) Оценка качества земли.
            p 3) Установка границ участка на местности.
            p 4) Выявление воздействия объектов на участке на землю.
            p 5) <a href="../osparivanieks/">Изучение материалов межевания и выявление кадастровых ошибок.</a>
            p 7) <a href="../ocenkazu/">Определение рыночной и кадастровой стоимости, и цены серветута.</a>
            p
              | Уже из названия следует, что объект исследования – любые землеустроительные объекты, как в населённых пунктах так и за их пределами.
            p
              | Это могут быть документы, связанные непосредственно с изучаемым объектом. В экспертизу также включаются результаты исследования из аграрной и биологической областей, проведённые над участком.
            p
              | СЗЭ анализирует данные об объекте, и решает вопросы, связанные с различными аспектами землеустройства. К методам относят всё, что может помочь в исследовании земли, включая познания в области геодезии, биологии, экономики и иных сфер, смежных с земельными вопросами.
    section.zakaz-section
      .container
        .row.justify-content-center
          .col-md-10
            p.text-center
              include ../modules/mcontact
     
    section.testimony
      .container
        .row.justify-content-center
          .col-md-10
            blockquote.mb-5
              p
                | “Объект исследования – любые землеустроительные объекты, как в населённых пунктах так и за их пределами.”
            p.author
              | — 
              span Вячеслав Олехов
              | , 
              span Заместитель директора, эксперт
   
    #popover-content(style='display: none')
      ul.list-group.custom-popover
        li.list-group-item Объект:
        li.list-group-item объект, право, участок
        li.list-group-item от 10 000 руб.
